In [1]:
import os, sys
import mysql.connector as connector
import subprocess
import logging
import getpass
sys.path.append("..")
from display.display_query import execute_display_query_results, select_all_query

In [2]:
logger = logging.getLogger("[SET MySQL Specialist]")
if os.path.exists("../log/create_database.log"):
  os.remove("../log/create_database.log")
logging.basicConfig(filename='../log/create_database.log', encoding='utf-8', level=logging.DEBUG, format='%(asctime)s ==> %(message)s', datefmt='%m/%d/%Y %I:%M:%S')

## Create Connection and Cursor Object

In [3]:
logger.info("Creating a connection between MySQL and Python")
dbconfig={"user":"root", "password":os.environ["MYSQL_ROOT_PASSWORD"], "port":33061, "host":"localhost", "database": "db_mavenmovies"}
connection=connector.connect(**dbconfig)
print("Connection established between MySQL and Python")
logger.info("Connection established between MySQL and Python")


print("Creating cursor object from connection")
logger.info("Creating first cursor object from connection")
cursor = connection.cursor()
print("Cursor object created to communicate with MySQL")
logger.info("Cursor object created to communicate with MySQL")

Connection established between MySQL and Python
Creating cursor object from connection
Cursor object created to communicate with MySQL

# Show Tables

In [4]:
execute_display_query_results(query="SHOW TABLES;", cursor=cursor)

+---------------------------------+
|    Tables_in_db_mavenmovies     |
+---------------------------------+
|            tbl_actor            |
|         tbl_actor_award         |
|           tbl_address           |
|           tbl_advisor           |
|          tbl_category           |
|            tbl_city             |
|           tbl_country           |
|          tbl_customer           |
|            tbl_film             |
|         tbl_film_actor          |
|        tbl_film_category        |
|          tbl_film_text          |
|          tbl_inventory          |
|          tbl_investor           |
|          tbl_language           |
|           tbl_payment           |
|           tbl_rental            |
|            tbl_staff            |
|            tbl_store            |
|         view_actor_info         |
|       view_customer_list        |
|         view_film_list          |
| view_nicer_but_slower_film_list |
|   view_sales_by_film_category   |
|       view_sales_by_store       |
|         view_staff_list         |
+---------------------------------+
26 rows returned in time: (0.003 sec)

In [5]:
show_query = """SELECT TABLE_NAME FROM information_schema.TABLES
WHERE TABLE_SCHEMA = 'db_mavenmovies' AND TABLE_NAME NOT LIKE 'tbl_%';"""
execute_display_query_results(query=show_query, cursor=cursor)

+---------------------------------+
|           TABLE_NAME            |
+---------------------------------+
|         view_actor_info         |
|       view_customer_list        |
|         view_film_list          |
| view_nicer_but_slower_film_list |
|   view_sales_by_film_category   |
|       view_sales_by_store       |
|         view_staff_list         |
+---------------------------------+
7 rows returned in time: (0.001 sec)

In [6]:
show_query = """SELECT TABLE_NAME FROM information_schema.TABLES
WHERE TABLE_SCHEMA = 'db_mavenmovies' AND TABLE_NAME LIKE 'tbl_%';"""
execute_display_query_results(query=show_query, cursor=cursor)

+-------------------+
|    TABLE_NAME     |
+-------------------+
|     tbl_actor     |
|  tbl_actor_award  |
|    tbl_address    |
|    tbl_advisor    |
|   tbl_category    |
|     tbl_city      |
|    tbl_country    |
|   tbl_customer    |
|     tbl_film      |
|  tbl_film_actor   |
| tbl_film_category |
|   tbl_film_text   |
|   tbl_inventory   |
|   tbl_investor    |
|   tbl_language    |
|    tbl_payment    |
|    tbl_rental     |
|     tbl_staff     |
|     tbl_store     |
+-------------------+
19 rows returned in time: (0.001 sec)