## Import the necessary modules

In [1]:
import os
import mysql.connector as connector
import logging
from timeit import default_timer as timer
from datetime import timedelta

## Create a logger

In [2]:
logger = logging.getLogger("[Database Structures and Management with MySQL]")
if os.path.exists("../log/learning-mysql.log"):
  os.remove("../log/learning-mysql.log")
logging.basicConfig(filename='../log/learning-mysql.log', encoding='utf-8', level=logging.DEBUG, format='%(asctime)s ==> %(message)s', datefmt='%m/%d/%Y %I:%M:%S')

## Establish a connection using MySQlConnectionPool

In [3]:
logger.info("Creating a connection between MySQL and Python")
dbconfig={"user":"user_wsl", "password":"Bright##++29", "port":33061, "host":"localhost"}
connection=connector.connect(**dbconfig)
print("Connection established between MySQL and Python")
logger.info("Connection established between MySQL and Python")

Connection established between MySQL and Python

## Create a cursor objects

In [4]:
print("Creating cursor object from the connection")
logger.info("Creating cursor object from the connection")
cursor = connection.cursor(buffered=True)
print("Cursor object created to communicate with MySQL using Python.")
logger.info("Cursor object created to communicate with MySQL using Python.")

Creating cursor object from the connection
Cursor object created to communicate with MySQL using Python.

## Create a function to display results

In [31]:
def select_all_query(table_name: str):
    return f"""SELECT * FROM {table_name};"""


def display_results(table_column_names: list, results: list):
    #start = timer()
    table_columns_length = [len(x) for x in table_column_names]
    for result in results:
        for value in range(len(result)):
            row_data = result[value]
            if row_data:
                row_data = str(row_data)
                length_row_data = len(row_data)
                if length_row_data > table_columns_length[value]:
                    if length_row_data > 60:
                        print(f"{row_data} has a length of {length_row_data}")
                        length_row_data = length_row_data + 10
                    table_columns_length[value] = length_row_data
    dashes_plus = ""
    for num in range(len(table_columns_length)):
        dashes_plus = dashes_plus + "+" + '-'*(table_columns_length[num]+2)
    dashes_plus = dashes_plus + "+"
    
    print(dashes_plus)
    
    table_headers = ""
    for num in range(len(table_column_names)):
        table_headers = table_headers + f"| {table_column_names[num]:^{table_columns_length[num]}} "
    table_headers = table_headers + "|"
    print(table_headers)
    
    print(dashes_plus)
    
    for result in results:
        table_row = ""
        for value in range(len(result)):
            row_data = result[value]
            if row_data is None:
                row_data = "NULL"            
                #if "Field" in table_column_names or "select_type" in table_column_names:
                    #row_data = None
                #else:
                    #row_data = None
            table_row = table_row + "|" + f"{str(row_data):^{table_columns_length[value]+2}}"
        print(table_row + "|")
    print(dashes_plus)
    num_rows: int = len(results)
    message: str = "row returned" if num_rows == 1 else "rows returned"
    #end = timer()
    #print(timedelta(seconds=end-start))
    print(f"{num_rows} {message}")

def execute_display_query_results(query: str = "", table_column_names: list = [], results: list = []): 
    logger.info(f"Executing the query: {query}")
    if len(query) > 2 and (table_column_names or results):
        print("You can only pass in the query alone or the table_column_names and results list")
        assert False
    if query and not table_column_names and not results:
        cursor.execute(query)
        results = cursor.fetchall()    
        table_column_names = cursor.column_names
        
    
    display_results(table_column_names, results)

## Show Version of MySQL

In [8]:
show_version_query = """SELECT VERSION() AS Version;"""
execute_display_query_results(query=show_version_query)

+-------------------------+
|         Version         |
+-------------------------+
| 8.0.39-0ubuntu0.22.04.1 |
+-------------------------+
1 row returned

## Show Database

In [9]:
show_version_query = """SHOW DATABASES;"""
execute_display_query_results(query=show_version_query)

+------------------------+
|        Database        |
+------------------------+
|          CVD           |
|     LittleLemonDB      |
|           PC           |
|    STAFF_LOCATIONS     |
|     classicmodels      |
|      db_Exercise       |
|    db_aggregate_fxn    |
|         db_hr          |
|       db_learner       |
|    db_little_lemon     |
|        db_meta         |
| db_meta_advanced_mysql |
|   db_meta_dsm_mysql    |
|     db_mysqladmin      |
|     db_subqueries      |
|        db_views        |
|        db_world        |
|   global_super_store   |
|   information_schema   |
|      little_lemon      |
|    little_lemon_db     |
|      lucky_Shrub       |
|     mangata_gallo      |
|     mangata_jw_db      |
|        meta_db         |
|       mg_schema        |
|         mysql          |
|   performance_schema   |
|         sakila         |
|          sys           |
+------------------------+
30 rows returned

# Show MySQL Users

In [10]:
cursor.execute("USE mysql;")
execute_display_query_results("SELECT COUNT(*) FROM user;")

+----------+
| COUNT(*) |
+----------+
|    7     |
+----------+
1 row returned

In [32]:
execute_display_query_results("SELECT Host, User, plugin, authentication_string FROM user;")

$A$005$y?A*~%#*f8*fW=gQBaUbuAX.dqfly6t7siRO.kMbaWMvqu97oFkWD14vj133 has a length of 70
+-----------+------------------+-----------------------+----------------------------------------------------------------------------------+
|   Host    |       User       |        plugin         |                              authentication_string                               |
+-----------+------------------+-----------------------+----------------------------------------------------------------------------------+
| localhost |     db_user      | caching_sha2_password |      $A$005$y?A*~%#*f8*fW=gQBaUbuAX.dqfly6t7siRO.kMbaWMvqu97oFkWD14vj133      |
| localhost | debian-sys-maint | caching_sha2_password |      $A$005$}}ev<)+K9WgU@%>)'b.N1PFqf6Pz0tJQob0B3QaGBGziu6X8RoXtjh0wnFFA      |
| localhost | mysql.infoschema | caching_sha2_password |      $A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED      |
| localhost |  mysql.session   | caching_sha2_password |      $A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED      |
| localhost |    mysql.sys     | caching_sha2_password |      $A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED      |
| localhost |       root       | mysql_native_password |                    *3F41383DCA5000B6BA551B72F98EDDAB12C7986A                     |
| localhost |     user_wsl     | caching_sha2_password |      $A$005$~b"f* ?g)=NA-]'	cschq5yOvvE.Ef1D5usDYngQFCzqE5oiFrgxQA1Luo4      |
+-----------+------------------+-----------------------+----------------------------------------------------------------------------------+
7 rows returned

In [33]:
#dbconfig={"user":"user_wsl", "password":"Bright##++29", "port":33061, "host":"localhost"}
#connection_1=mysql.connect(**dbconfig)
#print("Connection established between MySQL and Python")
#logger.info("Connection established between MySQL and Python")

In [34]:
#dbconfig={"user":"user_wsl", "password":"Bright##++29", "port":33061, "host":"localhost"}
#connection_2=connector.connect(**dbconfig)
#cursor_2 = connection_2.cursor(buffered=True)
#print("Connection established between MySQL and Python")
#logger.info("Connection established between MySQL and Python")

# Create Database for use

In [ ]:
dropDROP DATABASE IF EXISTS music;
CREATE DATABASE music;
USE music;

CREATE TABLE artist (
    artist_id SMALLINT(5) NOT NULL DEFAULT 0,
    artist_name CHAR(128) DEFAULT NULL,
    PRIMARY KEY (artist_id)
) engine=innoDB;

CREATE TABLE album (
    artist_id SMALLINT(5) NOT NULL DEFAULT 0,
    album_id SMALLINT(4) NOT NULL DEFAULT 0,
    album_name CHAR(128) DEFAULT NULL,
    PRIMARY KEY (artist_id,album_id),
    FOREIGN KEY (artist_id) REFERENCES artist(artist_id)
) engine=innoDB;

CREATE TABLE track (
    track_id SMALLINT(3) NOT NULL DEFAULT 0,
    track_name CHAR(128) DEFAULT NULL,
    artist_id SMALLINT(5) NOT NULL DEFAULT 0,
    album_id SMALLINT(4) NOT NULL DEFAULT 0,
    time DECIMAL(5,2) DEFAULT NULL,
    PRIMARY KEY (artist_id,album_id,track_id),
    FOREIGN KEY (artist_id)			 REFERENCES artist(artist_id),
    FOREIGN KEY (artist_id,album_id) REFERENCES album(artist_id,album_id)
) engine=innoDB;

CREATE TABLE played (
    artist_id SMALLINT(5) NOT NULL DEFAULT 0,
    album_id SMALLINT(4) NOT NULL DEFAULT 0,
    track_id SMALLINT(3) NOT NULL DEFAULT 0,
    played TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP on update CURRENT_TIMESTAMP,
    PRIMARY KEY (artist_id,album_id,track_id,played),
    FOREIGN KEY (artist_id)			 REFERENCES artist(artist_id),
    FOREIGN KEY (artist_id,album_id) REFERENCES album(artist_id,album_id),
    FOREIGN KEY (artist_id,album_id,track_id)	REFERENCES track(artist_id,album_id,track_id)
) engine=innoDB;


INSERT INTO artist VALUES (1, "New Order");
INSERT INTO artist VALUES (2, "Nick Cave & The Bad Seeds");
INSERT INTO artist VALUES (3, "Miles Davis");
INSERT INTO artist VALUES (4, "The Rolling Stones");
INSERT INTO artist VALUES (5, "The Stone Roses");
INSERT INTO artist VALUES (6, "Kylie Minogue");

INSERT INTO album VALUES (2, 1, "Let Love In");
INSERT INTO album VALUES (1, 1, "Retro - John McCready FAN");
INSERT INTO album VALUES (1, 2, "Substance (Disc 2)");
INSERT INTO album VALUES (1, 3, "Retro - Miranda Sawyer POP");
INSERT INTO album VALUES (1, 4, "Retro - New Order / Bobby Gillespie LIVE");
INSERT INTO album VALUES (3, 1, "Live Around The World");
INSERT INTO album VALUES (3, 2, "In A Silent Way");
INSERT INTO album VALUES (1, 5, "Power, Corruption & Lies");
INSERT INTO album VALUES (4, 1, "Exile On Main Street");
INSERT INTO album VALUES (1, 6, "Substance 1987 (Disc 1)");
INSERT INTO album VALUES (5, 1, "Second Coming");
INSERT INTO album VALUES (6, 1, "Light Years");
INSERT INTO album VALUES (1, 7, "Brotherhood");

INSERT INTO track VALUES (0,'Do You Love Me?',2,1,'5.95');
INSERT INTO track VALUES (1,'Nobody\'s Baby Now',2,1,'3.87');
INSERT INTO track VALUES (2,'Loverman',2,1,'6.37');
INSERT INTO track VALUES (3,'Jangling Jack',2,1,'2.78');
INSERT INTO track VALUES (4,'Red Right Hand',2,1,'6.18');
INSERT INTO track VALUES (5,'I Let Love In',2,1,'4.25');
INSERT INTO track VALUES (6,'Thirsty Dog',2,1,'3.81');
INSERT INTO track VALUES (7,'Ain\'t Gonna Rain Anymore',2,1,'3.77');
INSERT INTO track VALUES (8,'Lay Me Low',2,1,'5.15');
INSERT INTO track VALUES (9,'Do You Love Me? (Part Two)',2,1,'6.23');
INSERT INTO track VALUES (0,'Elegia',1,1,'4.93');
INSERT INTO track VALUES (1,'In A Lonely Place',1,1,'6.26');
INSERT INTO track VALUES (2,'Procession',1,1,'4.47');
INSERT INTO track VALUES (3,'Your Silent Face',1,1,'5.99');
INSERT INTO track VALUES (4,'Sunrise',1,1,'6.01');
INSERT INTO track VALUES (5,'Let\'s Go',1,1,'3.90');
INSERT INTO track VALUES (6,'Broken Promise',1,1,'3.76');
INSERT INTO track VALUES (7,'Dreams Never End',1,1,'3.20');
INSERT INTO track VALUES (8,'Cries And Whispers',1,1,'3.42');
INSERT INTO track VALUES (9,'All Day Long',1,1,'5.18');
INSERT INTO track VALUES (10,'Sooner Than You Think',1,1,'5.21');
INSERT INTO track VALUES (11,'Leave Me Alone',1,1,'4.67');
INSERT INTO track VALUES (12,'Lonesome Tonight',1,1,'5.19');
INSERT INTO track VALUES (13,'Every Little Counts',1,1,'4.47');
INSERT INTO track VALUES (14,'Run Wild',1,1,'3.95');
INSERT INTO track VALUES (0,'In A Lonely Place',1,2,'6.30');
INSERT INTO track VALUES (1,'Procession',1,2,'4.46');
INSERT INTO track VALUES (2,'Mesh',1,2,'3.44');
INSERT INTO track VALUES (3,'Hurt',1,2,'6.98');
INSERT INTO track VALUES (4,'The Beach',1,2,'7.32');
INSERT INTO track VALUES (5,'Confusion',1,2,'7.64');
INSERT INTO track VALUES (6,'Lonesome Tonight',1,2,'5.20');
INSERT INTO track VALUES (7,'Murder',1,2,'3.93');
INSERT INTO track VALUES (8,'Thieves Like Us',1,2,'6.95');
INSERT INTO track VALUES (9,'Kiss Of Death',1,2,'7.05');
INSERT INTO track VALUES (10,'Shame Of The Nation',1,2,'7.91');
INSERT INTO track VALUES (11,'1963',1,2,'5.63');
INSERT INTO track VALUES (0,'Fine Time',1,3,'4.71');
INSERT INTO track VALUES (1,'Temptation',1,3,'8.71');
INSERT INTO track VALUES (2,'True Faith',1,3,'5.88');
INSERT INTO track VALUES (3,'The Perfect Kiss',1,3,'4.83');
INSERT INTO track VALUES (4,'Ceremony',1,3,'4.41');
INSERT INTO track VALUES (5,'Regret',1,3,'4.14');
INSERT INTO track VALUES (6,'Crystal',1,3,'6.83');
INSERT INTO track VALUES (7,'Bizarre Love Triangle',1,3,'4.35');
INSERT INTO track VALUES (8,'Confusion',1,3,'8.22');
INSERT INTO track VALUES (9,'Round And Round',1,3,'4.52');
INSERT INTO track VALUES (10,'Blue Monday',1,3,'7.48');
INSERT INTO track VALUES (11,'Brutal',1,3,'4.83');
INSERT INTO track VALUES (12,'Slow Jam',1,3,'4.88');
INSERT INTO track VALUES (13,'Everyone Everywhere',1,3,'4.43');
INSERT INTO track VALUES (0,'Ceremony [Studio 54, Barcelona 7/7/84]',1,4,'4.82');
INSERT INTO track VALUES (1,'Procession [Polytechnic of Central London, London 6/12/85]',1,4,'3.57');
INSERT INTO track VALUES (2,'Everything\'s Gone Green [Tolworth Recreation Centre, London 12/3/85]',1,4,'5.25');
INSERT INTO track VALUES (3,'In A Lonely Place [Glastonbury Festival 20/6/81]',1,4,'5.55');
INSERT INTO track VALUES (4,'Age Of Consent [Spectrum Arena, Warrington 1/3/86]',1,4,'5.04');
INSERT INTO track VALUES (5,'Elegia [Glastonbury Festival 19/6/87]',1,4,'4.77');
INSERT INTO track VALUES (6,'The Perfect Kiss [Glastonbury Festival 19/6/87]',1,4,'9.73');
INSERT INTO track VALUES (7,'Fine Time [Popular Creek Music Theatre, Chicago 30/6/89]',1,4,'5.04');
INSERT INTO track VALUES (8,'World [Starplex Amphitheatre, Dallas 21/7/93]',1,4,'4.81');
INSERT INTO track VALUES (9,'Regret [Reading Festival 29/8/93]',1,4,'4.03');
INSERT INTO track VALUES (10,'As It Is When It Was [Reading Festival 29/8/93]',1,4,'3.80');
INSERT INTO track VALUES (11,'Intermission By Alan Wise [Olympia, Paris 12/11/01]',1,4,'1.34');
INSERT INTO track VALUES (12,'Crystal [Big Day Out, Gold Coast 20/1/02]',1,4,'6.86');
INSERT INTO track VALUES (13,'Turn My Way [Olympia, Liverpool 18/7/01]',1,4,'4.96');
INSERT INTO track VALUES (14,'Temptation [Big Day Out, Gold Coast 20/1/02]',1,4,'7.79');
INSERT INTO track VALUES (0,'In A Silent Way',3,1,'1.81');
INSERT INTO track VALUES (1,'Intruder',3,1,'4.87');
INSERT INTO track VALUES (2,'New Blues',3,1,'5.58');
INSERT INTO track VALUES (3,'Human Nature',3,1,'12.80');
INSERT INTO track VALUES (4,'Mr. Pastorius',3,1,'3.54');
INSERT INTO track VALUES (5,'Amandla',3,1,'5.87');
INSERT INTO track VALUES (6,'Wrinkle',3,1,'7.28');
INSERT INTO track VALUES (7,'Tutu',3,1,'8.89');
INSERT INTO track VALUES (8,'Full Nelson',3,1,'2.81');
INSERT INTO track VALUES (9,'Time After Time',3,1,'9.98');
INSERT INTO track VALUES (10,'Hannibal',3,1,'7.37');
INSERT INTO track VALUES (0,'Shhh/Peaceful',3,2,'16.67');
INSERT INTO track VALUES (1,'In A Silent Way/It\'s About That Time',3,2,'16.67');
INSERT INTO track VALUES (0,'Age Of Consent',1,5,'5.26');
INSERT INTO track VALUES (1,'We All Stand',1,5,'5.24');
INSERT INTO track VALUES (2,'The Village',1,5,'4.62');
INSERT INTO track VALUES (3,'5 8 6',1,5,'7.52');
INSERT INTO track VALUES (4,'Your Silent Face',1,5,'6.00');
INSERT INTO track VALUES (5,'Ultraviolence',1,5,'4.87');
INSERT INTO track VALUES (6,'Ecstasy',1,5,'4.42');
INSERT INTO track VALUES (7,'Leave Me Alone',1,5,'4.69');
INSERT INTO track VALUES (0,'Rocks Off',4,1,'4.54');
INSERT INTO track VALUES (1,'Rip This Joint',4,1,'2.38');
INSERT INTO track VALUES (2,'Shake Your Hips',4,1,'3.00');
INSERT INTO track VALUES (3,'Casino Boogie',4,1,'3.57');
INSERT INTO track VALUES (4,'Tumbling Dice',4,1,'3.79');
INSERT INTO track VALUES (5,'Sweet Virginia',4,1,'4.44');
INSERT INTO track VALUES (6,'Torn & Frayed',4,1,'4.30');
INSERT INTO track VALUES (7,'Sweet Black Angel',4,1,'2.97');
INSERT INTO track VALUES (8,'Loving Cup',4,1,'4.43');
INSERT INTO track VALUES (9,'Happy',4,1,'3.08');
INSERT INTO track VALUES (10,'Turd On The Run',4,1,'2.64');
INSERT INTO track VALUES (11,'Ventilator Blues',4,1,'3.40');
INSERT INTO track VALUES (12,'I Just Want To See His Face',4,1,'2.90');
INSERT INTO track VALUES (13,'Let It Loose',4,1,'5.31');
INSERT INTO track VALUES (14,'All Down The Line',4,1,'3.84');
INSERT INTO track VALUES (15,'Stop Breaking Down',4,1,'4.57');
INSERT INTO track VALUES (16,'Shine A Light',4,1,'4.28');
INSERT INTO track VALUES (17,'Soul Survivor',4,1,'3.82');
INSERT INTO track VALUES (0,'Ceremony',1,6,'4.42');
INSERT INTO track VALUES (1,'Everything\'s Gone Green',1,6,'5.51');
INSERT INTO track VALUES (2,'Temptation',1,6,'6.99');
INSERT INTO track VALUES (3,'Blue Monday',1,6,'7.49');
INSERT INTO track VALUES (4,'Confusion',1,6,'4.72');
INSERT INTO track VALUES (5,'Thieves Like Us',1,6,'6.61');
INSERT INTO track VALUES (6,'Perfect Kiss',1,6,'8.04');
INSERT INTO track VALUES (7,'Subculture',1,6,'4.80');
INSERT INTO track VALUES (8,'Shellshock',1,6,'6.48');
INSERT INTO track VALUES (9,'State of the Nation',1,6,'6.54');
INSERT INTO track VALUES (10,'Bizarre Love Triangle',1,6,'6.74');
INSERT INTO track VALUES (11,'True Faith',1,6,'5.93');
INSERT INTO track VALUES (0,'Breaking Into Heaven',5,1,'11.37');
INSERT INTO track VALUES (1,'Driving South',5,1,'5.17');
INSERT INTO track VALUES (2,'Ten Storey Love Song',5,1,'4.50');
INSERT INTO track VALUES (3,'Daybreak',5,1,'6.56');
INSERT INTO track VALUES (4,'Your Star Will Shine',5,1,'2.99');
INSERT INTO track VALUES (5,'Straight To The Man',5,1,'3.26');
INSERT INTO track VALUES (6,'Begging You',5,1,'4.94');
INSERT INTO track VALUES (7,'Tightrope',5,1,'4.45');
INSERT INTO track VALUES (8,'Good Times',5,1,'5.67');
INSERT INTO track VALUES (9,'Tears',5,1,'6.84');
INSERT INTO track VALUES (10,'How Do You Sleep',5,1,'4.99');
INSERT INTO track VALUES (11,'Love Spreads',5,1,'5.79');
INSERT INTO track VALUES (12,'Untitled',5,1,'6.43');
INSERT INTO track VALUES (0,'Spinning Around',6,1,'3.46');
INSERT INTO track VALUES (1,'On A Night Like This',6,1,'3.55');
INSERT INTO track VALUES (2,'So Now Goodbye',6,1,'3.62');
INSERT INTO track VALUES (3,'Disco Down',6,1,'3.96');
INSERT INTO track VALUES (4,'Loveboat',6,1,'4.18');
INSERT INTO track VALUES (5,'Koocachoo',6,1,'4.00');
INSERT INTO track VALUES (6,'Your Disco Needs You',6,1,'3.56');
INSERT INTO track VALUES (7,'Please Stay',6,1,'4.14');
INSERT INTO track VALUES (8,'Bittersweet Goodbye',6,1,'3.72');
INSERT INTO track VALUES (9,'Butterfly',6,1,'4.16');
INSERT INTO track VALUES (10,'Under The Influence Of Love',6,1,'3.40');
INSERT INTO track VALUES (11,'I\'m So High',6,1,'3.55');
INSERT INTO track VALUES (12,'Kids',6,1,'4.34');
INSERT INTO track VALUES (0,'State of the Nation',1,7,'6.56');
INSERT INTO track VALUES (1,'Every Little Counts',1,7,'4.48');
INSERT INTO track VALUES (2,'Angel Dust',1,7,'3.73');
INSERT INTO track VALUES (3,'All Day Long',1,7,'5.21');
INSERT INTO track VALUES (4,'Bizarre Love Triangle',1,7,'4.37');
INSERT INTO track VALUES (5,'Way of Life',1,7,'4.11');
INSERT INTO track VALUES (6,'Broken Promise',1,7,'3.80');
INSERT INTO track VALUES (7,'As It Is When It Was',1,7,'3.77');
INSERT INTO track VALUES (8,'Weirdo',1,7,'3.89');
INSERT INTO track VALUES (9,'Paradise',1,7,'3.86');

INSERT INTO played VALUES (1, 3, 0, "20060814102103");
INSERT INTO played VALUES (1, 3, 1, "20060814102522");
INSERT INTO played VALUES (1, 3, 2, "20060814103025");
INSERT INTO played VALUES (1, 3, 3, "20060814103654");
INSERT INTO played VALUES (1, 3, 4, "20060814104143");
INSERT INTO played VALUES (1, 3, 5, "20060814104337");
INSERT INTO played VALUES (1, 3, 6, "20060814104721");
INSERT INTO played VALUES (1, 3, 7, "20060814105402");
INSERT INTO played VALUES (3, 1, 0, "20060815140003");
INSERT INTO played VALUES (3, 1, 1, "20060815142612");
INSERT INTO played VALUES (3, 1, 2, "20060815143357");