In [1]:
import os, sys
import mysql.connector as connector
import subprocess
import logging
import getpass
from time import time
sys.path.append("..")
from display.display_query import execute_display_query_results, select_all_query

## Create logger

In [2]:
logger = logging.getLogger("[SET Operators MySQL]")
if os.path.exists("../log/sets.log"):
  os.remove("../log/sets.log")
logging.basicConfig(filename='../log/sets.log', encoding='utf-8', level=logging.DEBUG, format='%(asctime)s ==> %(message)s', datefmt='%m/%d/%Y %I:%M:%S')

## Create Connection

In [3]:
logger.info("Creating a connection between MySQL and Python")
dbconfig={"user":"root", "password":os.environ["MYSQL_ROOT_PASSWORD"], "port":33061, "host":"localhost", "database": "db_advanced_sql_baraa"}
connection=connector.connect(**dbconfig)
print("Connection established between MySQL and Python")
logger.info("Connection established between MySQL and Python")

Connection established between MySQL and Python

## Create Cursor Object

In [4]:
print("Creating cursor object from connection")
logger.info("Creating first cursor object from connection")
cursor = connection.cursor()
print("Cursor object created to communicate with MySQL")
logger.info("Cursor object created to communicate with MySQL")

Creating cursor object from connection
Cursor object created to communicate with MySQL

# Set  Operators
Set Opetations in SQL combine the results of multiple queries into a single result set
<div style="text-align:center">
<img src="./joins_sets.png" alt="drawing" width="1000"/>
</div>

## Rule One
- SET Operator can be used almost in all clauses WHERE | JOIN | GROUP BY | HAVING
- ORDER BY is allowed only once at the end of the query
<div style="text-align:center">
<img src="./rule_one.png" alt="rule_one" width="1000"/>
</div>

## Rule Two
- The number of columns in each query must be the same

In [5]:
print("\ntbl_orders")
execute_display_query_results(select_all_query("tbl_orders"), cursor)
print("\ntbl_products")
execute_display_query_results(select_all_query("tbl_products"), cursor)
print("\ntbl_customers")
execute_display_query_results(select_all_query("tbl_customers"), cursor)
print("\ntbl_employees")
execute_display_query_results(select_all_query("tbl_employees"), cursor)

tbl_orders
+---------+-----------+------------+---------------+------------+------------+-------------+--------------------+---------------+----------+-------+---------------------+
| OrderID | ProductID | CustomerID | SalesPersonID | OrderDate  |  ShipDate  | OrderStatus |    ShipAddress     |  BillAddress  | Quantity | Sales |    CreationTime     |
+---------+-----------+------------+---------------+------------+------------+-------------+--------------------+---------------+----------+-------+---------------------+
|    1    |    101    |     2      |       3       | 2025-01-01 | 2025-01-05 |  Delivered  | 9833 Mt. Dias Blv. | 1226 Shoe St. |    1     |  10   | 2025-01-01 12:34:56 |
|    2    |    102    |     3      |       3       | 2025-01-05 | 2025-01-10 |   Shipped   |   250 Race Court   |     NULL      |    1     |  15   | 2025-01-05 23:22:04 |
|    3    |    101    |     1      |       5       | 2025-01-10 | 2025-01-25 |  Delivered  |    8157 W. Book    | 8157 W. Book  |    2     |  20   | 2025-01-10 18:24:08 |
|    4    |    105    |     1      |       3       | 2025-01-20 | 2025-01-25 |   Shipped   | 5724 Victory Lane  |               |    2     |  60   | 2025-01-20 05:50:33 |
|    5    |    104    |     2      |       5       | 2025-02-01 | 2025-02-05 |  Delivered  |        NULL        |     NULL      |    1     |  25   | 2025-02-01 14:02:41 |
|    6    |    104    |     3      |       5       | 2025-02-05 | 2025-02-10 |  Delivered  |  1792 Belmont Rd.  |     NULL      |    2     |  50   | 2025-02-06 15:34:57 |
|    7    |    102    |     1      |       1       | 2025-02-15 | 2025-02-27 |  Delivered  |  136 Balboa Court  |               |    2     |  30   | 2025-02-16 06:22:01 |
|    8    |    101    |     4      |       3       | 2025-02-18 | 2025-02-27 |   Shipped   |   2947 Vine Lane   | 4311 Clay Rd  |    3     |  90   | 2025-02-18 10:45:22 |
|    9    |    101    |     2      |       3       | 2025-03-10 | 2025-03-15 |   Shipped   |   3768 Door Way    |               |    2     |  20   | 2025-03-10 12:59:04 |
|   10    |    102    |     3      |       5       | 2025-03-15 | 2025-03-20 |   Shipped   |        NULL        |     NULL      |    0     |  60   | 2025-03-16 23:25:15 |
+---------+-----------+------------+---------------+------------+------------+-------------+--------------------+---------------+----------+-------+---------------------+
10 rows returned in time: (0.007 sec)

tbl_products
+-----------+---------+-------------+-------+
| ProductID | Product |  Category   | Price |
+-----------+---------+-------------+-------+
|    101    | Bottle  | Accessories |  10   |
|    102    |  Tire   | Accessories |  15   |
|    103    |  Socks  |  Clothing   |  20   |
|    104    |  Caps   |  Clothing   |  25   |
|    105    | Gloves  |  Clothing   |  30   |
+-----------+---------+-------------+-------+
5 rows returned in time: (0.0 sec)

tbl_customers
+------------+-----------+----------+---------+-------+
| CustomerID | FirstName | LastName | Country | Score |
+------------+-----------+----------+---------+-------+
|     1      |  Jossef   | Goldberg | Germany |  350  |
|     2      |   Kevin   |  Brown   |   USA   |  900  |
|     3      |   Mary    |   NULL   |   USA   |  750  |
|     4      |   Mark    | Schwarz  | Germany |  500  |
|     5      |   Anna    |  Adams   |   USA   | NULL  |
+------------+-----------+----------+---------+-------+
5 rows returned in time: (0.003 sec)

tbl_employees
+------------+-----------+----------+------------+------------+--------+--------+-----------+
| EmployeeID | FirstName | LastName | Department | BirthDate  | Gender | Salary | ManagerID |
+------------+-----------+----------+------------+------------+--------+--------+-----------+
|     1      |   Frank   |   Lee    | Marketing  | 1988-12-05 |   M    | 55000  |   NULL    |
|     2      |   Kevin   |  Brown   | Marketing  | 1972-11-25 |   M    | 65000  |     1     |
|     3      |   Mary    |   NULL   |   Sales    | 1986-01-05 |   F    | 75000  |     1     |
|     4      |  Michael  |   Ray    |   Sales    | 1977-02-10 |   M    | 90000  |     2     |
|     5      |   Carol   |  Baker   |   Sales    | 1982-02-11 |   F    | 55000  |     3     |
+------------+-----------+----------+------------+------------+--------+--------+-----------+
5 rows returned in time: (0.004 sec)