## Import the necessary modules

In [1]:
import os
import mysql.connector as connector
import logging

## Functions
Stored procedures and functions wrap code within the body of a function or procedure for repeated use
- Functions: used to return a specific value
- Stored procedures: Processing, manipulating and modifying data
- Variable: Used to pass values between SQL statements, or between a procedure and a SQL statement. They are created inside or outside a Stored procedure or SELECT statement

## Variables syntax
```sql
@variable_name = value
```

**SET** command  
Assigns a value to a variable within a stored procedure
```sql
SET @variable_name = value
```
To create a variable inside a stored procedure, use the ```declare``` command  

Variables inside a SELECT command
```sql
SELECT @variable_name := value;
SELECT @max_order := MAX(Cost) FROM Orders;
SELECT @max_order
SELECT function() INTO variable_name FROM table_name;
SELECT AVG(Cost) INTO @average_cost FROM Orders;
```


## Parameters
Pass arguments, or values, to a function or procedure from the outside
- Types of Parameters: IN, OUT, INOUT

OUT parameter syntax
```sql
CREATE PROCEDURE GetLowestCost (OUT LowestCost DECIMAL(6, 2))
SELECT MIN(Cost) INTO LowestCost FROM Orders;

CALL GetLowestCost(@order_lowest_cost)
SELECT @order_lowest_cost
```

INOUT parameter syntax
```sql
CREATE PROCEDURE SquareAnumber(INOUT aNumber INT)
BEGIN
    SET aNumber = aNumber * aNumber;
END

SET @x_number = 5
CALL SquareAnumber(@x_number)
```

## User-defined function syntax
```sql
CREATE FUNCTION function_name()
RETURNS datatype DETERMINISTIC
RETURN
```

# Triggers 
A Set of actions available in the form of a stored program invoked when an event occurs. Example includes INSERT, UPDATE AND DELETE. It is associated with a table
```sql
CREATE TRIGGER trigger_name
TRIGGER TYPE
ON table_name FOR EACH ROW
BEGIN 
statement_one
statement_two
END
```

```sql
DROP TRIGGER IF EXISTS schema_name.trigger_name
```

- Each trigger name must be unique within the database
- Dropping a table from a database removes the related triggers
- Useful for maintaining audit trails
- Alternative to constraints: Maintain data integrity and run tasks

## Types of Triggers
- Row-level: Trigger invoked for each row. 100 rows ==> 100 row-level triggers ==> Table.  MySQL only supports this kind of trigger.
- Statement-level: Trigger invoked for each statement. 100 rows ==> Single Trigger ==> Table. This is not supported by MySQL

BEFORE  
Trigger invoked before an action. BEFORE INSERT, BEFORE UPDATE, BEFORE DELETE  
AFTER   
Trigger innvoked after an action. AFTER INSERT, AFTER UPDATE, AFTER DELETE


```sql
CREATE TRIGGER OrderQtyCheck
BEFORE INSERT ON Orders FOR EACH ROW
BEGIN
IF NEW.orderQty < 0 THEN
SET NEW.orderQty = 0;
END IF;
END;
```

```sql
CREATE TRIGGER LogNewOrderInsert
AFTER INSERT ON Orders FOR EACH ROW
BEGIN
INSERT INTO Audits VALUES('AFTER', 'A new order was inserted', 'INSERT');
END;
```

```sql
CREATE TRIGGER AfterDeleteOrder
AFTER INSERT ON Orders FOR EACH ROW
BEGIN
INSERT INTO Audits VALUES('AFTER', CONCAT('Order', OLD.OrderID, ' was deleted at ', CURRENT_TIME(), ' on ', CURRENT_DATE(), 'DELETE'));
END;
```


# Working with MySQL Scheduled Events
A scheduled event is a task that takes place at a specific time according to a schedule
- All Events have a unique name
- Each event contains one or more SQL statements
- Events can occur once or multiple times

```sql
CREATE EVENT IF NOT EXISTS event_name
ON SCHEDULE AT CURRENT_TIMESTAMP [+ INTERVAL]
DO 
Event_body
```

```sql
CREATE EVENT IF NOT EXISTS GenerateRevenueReport
ON SCHEDULE AT CURRENT_TIMESTAMP + INTERVAL 12 HOUR
DO 
BEGIN
INSERT INTO ReportData (OrderID, ClientID, ProductID, Quantity, Cost, Date)
SELECT * FROM Orders WHERE Date BETWEEN '2022-08-01' AND '2022-08-31'
END
```

```sql
CREATE EVENT IF NOT EXISTS GenerateRevenueReport
ON SCHEDULE EVERY INTERVAL STARTS timestamp [+ INTERVAL] ENDS timestamp [+ INTERVAL]
DO 
BEGIN
INSERT INTO ReportData (OrderID, ClientID, ProductID, Quantity, Cost, Date)
SELECT * FROM Orders WHERE Date BETWEEN '2022-08-01' AND '2022-08-31'
END
```

```sql
CREATE EVENT IF NOT EXISTS DailyRestock
ON SCHEDULE EVERY 1 DAY
DO 
BEGIN
IF Products.NumberOfItems < 50 THEN 
UPDATE Products SET NumberOfItems = 50;
END IF;
END
```

# Labs
## Create a logger

In [2]:
logger = logging.getLogger("[Advanced MySQL]")
if os.path.exists("log/advanced-mysql.log"):
  os.remove("log/advanced-mysql.log")
logging.basicConfig(filename='log/advanced-mysql.log', encoding='utf-8', level=logging.DEBUG, format='%(asctime)s ==> %(message)s', datefmt='%m/%d/%Y %I:%M:%S')

## Establish a connection using MySQLConnectionPool

In [3]:
logger.info("Creating a connection between MySQL and Python")
dbconfig={"user":"root", "password":os.environ["MYSQL_PASSWORD"], "port":33061, "host":"localhost"}
connection=connector.connect(**dbconfig)
print("Connection established between MySQL and Python")
logger.info("Connection established between MySQL and Python")

Connection established between MySQL and Python

## Create a cursor objects

In [4]:
print("Creating cursor object from connection")
logger.info("Creating first cursor object from connection")
cursor = connection.cursor()
print("Cursor object created to communicate with MySQL using Python.")
logger.info("Cursor object created to communicate with MySQL using Python.")

Creating cursor object from connection
Cursor object created to communicate with MySQL using Python.

## Create Database

In [5]:
# Get a cursor object from the cursor pool
database_name: str = "db_meta_advanced_mysql"
drop_database_query: str = f"""DROP DATABASE IF EXISTS {database_name}"""
cursor.execute(drop_database_query)
logger.info("Dropping Database if it already exists.")

create_database_query: str = f"""CREATE DATABASE IF NOT EXISTS {database_name}"""
print("Creating Database.")
logger.info("Creating Database.")
cursor.execute(create_database_query)
logger.info("Database created.")
print("Database created.")

Creating Database.
Database created.

In [6]:
# Check to see that the database was created
list_of_databases: list = []
cursor.execute("SHOW DATABASES;")
databases = cursor.fetchall()
for database in databases:
    db_name: str = database[0]
    list_of_databases.append(db_name)
    if db_name == database_name:
        print(f"Database '{database_name}' was successfully created")
        logger.info(f"Database '{database_name}' was successfully created.")
        break

# Set the new created database as the database to use
cursor.execute(f"USE {database_name}")
print(f"Database '{database_name}' set for use.")
logger.info(f"Database '{database_name}' set for use.")

NameError: name 'first_cursor' is not defined

## Assert Database contains no Tables

In [ ]:
## Expect an empty list to be returned 
show_tables_query = """SHOW TABLES;"""
cursor.execute(show_tables_query)
results = cursor.rowcount
assert results == 0

## Create Tables

In [ ]:
create_orders_query = """CREATE TABLE IF NOT EXISTS tbl_orders (OrderID INT NOT NULL PRIMARY KEY, ClientID VARCHAR(10), ProductID VARCHAR(10), Quantity INT, Cost DECIMAL(6,2), Date DATE);"""
cursor.execute(create_orders_query)
#logger.info("tbl_orders table created.")

create_products_query = """CREATE TABLE IF NOT EXISTS tbl_products (ProductID VARCHAR(10), ProductName VARCHAR(100),BuyPrice DECIMAL(6,2), SellPrice DECIMAL(6,2), NumberOfItems INT);"""
cursor.execute(create_products_query)
#logger.info("tbl_products table created.")

create_notifications_query = """CREATE TABLE IF NOT EXISTS tbl_notifications (NotificationID INT AUTO_INCREMENT, Notification VARCHAR(255), DateTime TIMESTAMP NOT NULL, PRIMARY KEY(NotificationID));"""
cursor.execute(create_notifications_query)
#logger.info("tbl_notifications table created.")

In [ ]:
insert_into_orders_query = """INSERT INTO tbl_orders(OrderID, ClientID, ProductID , Quantity, Cost, Date) VALUES
(1, "Cl1", "P1", 10, 500, "2020-09-01"),  
(2, "Cl2", "P2", 5, 100, "2020-09-05"),  
(3, "Cl3", "P3", 20, 800, "2020-09-03"),  
(4, "Cl4", "P4", 15, 150, "2020-09-07"),  
(5, "Cl3", "P3", 10, 450, "2020-09-08"),  
(6, "Cl2", "P2", 5, 800, "2020-09-09"),  
(7, "Cl1", "P4", 22, 1200, "2020-09-10"),  
(8, "Cl3", "P1", 15, 150, "2020-09-10"),  
(9, "Cl1", "P1", 10, 500, "2020-09-12"),  
(10, "Cl2", "P2", 5, 100, "2020-09-13"),  
(11, "Cl4", "P5", 5, 100, "2020-09-15"), 
(12, "Cl1", "P1", 10, 500, "2022-09-01"),  
(13, "Cl2", "P2", 5, 100, "2022-09-05"),  
(14, "Cl3", "P3", 20, 800, "2022-09-03"),  
(15, "Cl4", "P4", 15, 150, "2022-09-07"),  
(16, "Cl3", "P3", 10, 450, "2022-09-08"),  
(17, "Cl2", "P2", 5, 800, "2022-09-09"),  
(18, "Cl1", "P4", 22, 1200, "2022-09-10"),  
(19, "Cl3", "P1", 15, 150, "2022-09-10"),  
(20, "Cl1", "P1", 10, 500, "2022-09-12"),  
(21, "Cl2", "P2", 5, 100, "2022-09-13"),   
(22, "Cl2", "P1", 10, 500, "2021-09-01"),  
(23, "Cl2", "P2", 5, 100, "2021-09-05"),  
(24, "Cl3", "P3", 20, 800, "2021-09-03"),  
(25, "Cl4", "P4", 15, 150, "2021-09-07"),  
(26, "Cl1", "P3", 10, 450, "2021-09-08"),  
(27, "Cl2", "P1", 20, 1000, "2022-09-01"),  
(28, "Cl2", "P2", 10, 200, "2022-09-05"),  
(29, "Cl3", "P3", 20, 800, "2021-09-03"),  
(30, "Cl1", "P1", 10, 500, "2022-09-01");
"""

first_cursor.execute(insert_into_orders_query)
first_connection.commit()


insert_into_products_query = """INSERT INTO tbl_products (ProductID, ProductName, BuyPrice, SellPrice, NumberOfItems)
VALUES ("P1", "Artificial grass bags ", 40, 50, 100),  
("P2", "Wood panels", 15, 20, 250),  
("P3", "Patio slates",35, 40, 60),  
("P4", "Sycamore trees ", 7, 10, 50),  
("P5", "Trees and Shrubs", 35, 50, 75),  
("P6", "Water fountain", 65, 80, 15);"""

cursor.execute(insert_into_products_query)
connection.commit()

## Function to display results

In [ ]:
def select_all_query(table_name: str, logger):
    query = f"""SELECT * FROM {table_name};"""
    logger.info("Executing the query: " + query)
    return query


def display_results(table_column_names: list, results: list):
    table_columns_length = [len(x) for x in table_column_names]
    for result in results:
        for value in range(len(result)):
            row_data = result[value]
            if row_data:
                row_data = str(row_data)
                if len(row_data) > table_columns_length[value]:
                    table_columns_length[value] = len(row_data)
    dashes_plus = ""
    for num in range(len(table_columns_length)):
        dashes_plus = dashes_plus + "+" + '-'*(table_columns_length[num]+2)
    dashes_plus = dashes_plus + "+"
    
    print(dashes_plus)
    
    table_headers = ""
    for num in range(len(table_column_names)):
        table_headers = table_headers + f"| {table_column_names[num]:^{table_columns_length[num]}} "
    table_headers = table_headers + "|"
    print(table_headers)
    
    print(dashes_plus)
    
    for result in results:
        table_row = ""
        for value in range(len(result)):
            row_data = result[value]
            if not row_data:
                if "Field" in table_column_names:
                    row_data = " NULL"
                else:
                    row_data = "None"
            table_row = table_row + "|" + f"{str(row_data):^{table_columns_length[value]+2}}"
        print(table_row + "|")
    print(dashes_plus)

def execute_display_query_results(query: str = "", table_column_names: list = [], results: list = []): 
    logger.info(f"Executing the query: {query}")
    if len(query) > 2 and (table_column_names or results):
        print("You can only pass in the query alone or the table_column_names and results list")
        assert False
    if query and not table_column_names and not results:
        cursor.execute(query)
        results = cursor.fetchall()    
        table_column_names = cursor.column_names
    
    display_results(table_column_names, results)

In [ ]:
execute_display_query_results(select_all_query("tbl_orders"))

print("\n\n")
execute_display_query_results(select_all_query("tbl_products"))

## Task 1
Create a SQL function that prints the cost value of a specific order based on the user input of the OrderID.

In [ ]:
create_function_query = """CREATE FUNCTION FindCost(order_id INT) RETURNS DECIMAL(5,2) DETERMINISTIC
RETURN (SELECT Cost FROM tbl_orders WHERE OrderID = order_id);"""

cursor.execute(create_function_query)

In [ ]:
select_query = "SELECT FindCost(5);"

execute_display_query_results(select_query)

## Task 2

Create a stored procedure called GetDiscount(). This stored procedure must return the final cost of the customer’s order after the discount value has been deducted. The discount value is based on the order’s quantity. The stored procedure must have the following specifications:

The procedure should take one parameter that accepts a user input value of an OrderID. 

The procedure must find the order quantity of the specificOrderID. 

If the value of the order quantity is more than or equal to 20 then the procedure should return the new cost after a 20% discount. 

If the value of the order quantity is less than 20 and more than or equal to 10 then the procedure should return the new cost after a 10% discount.

In [ ]:
create_procedure_query = """CREATE Procedure GetDiscount(OrderIDInput INT) 
BEGIN 
DECLARE cost_after_discount DECIMAL(7,2); 
DECLARE current_cost DECIMAL(7,2); 
DECLARE order_quantity INT; 
SELECT Quantity INTO order_quantity FROM tbl_orders WHERE OrderID = OrderIDInput; 
SELECT Cost INTO current_cost FROM tbl_orders WHERE OrderID = OrderIDInput; 
IF order_quantity >= 20 THEN
SET cost_after_discount = current_cost - (current_cost * 0.2);              
ELSEIF order_quantity >= 10 THEN
SET cost_after_discount = current_cost - (current_cost * 0.1); 
ELSE SET cost_after_discount = current_cost;
END IF;
SELECT cost_after_discount; 
END
"""

cursor.execute(create_procedure_query)

In [ ]:
cursor.callproc("GetDiscount", (5, ))

results=next(first_cursor.stored_results())
table_column_names = results.column_names
dataset = results.fetchall()

execute_display_query_results(table_column_names=table_column_names, results=dataset)

## Task 3
Create an INSERT trigger called ProductSellPriceInsertCheck. This trigger must check if the SellPrice of the product is less than the BuyPrice after a new product is inserted in the Products table. 
If this occurs, then a notification must be added to the Notifications table to inform the sales department. The sales department can then ensure that the incorrect values were not inserted by mistake.
The notification message should be in the following format: A SellPrice less than the BuyPrice was inserted for ProductID + ProductID

In [ ]:
create_trigger_query = """CREATE TRIGGER ProductSellPriceInsertCheck
AFTER INSERT ON tbl_products FOR EACH ROW
BEGIN
INSERT INTO tbl_notifications(Notification, DateTime) VALUES(CONCAT('A SellPrice same or less than the BuyPrice was inserted for ProductID ', NEW.ProductID), CURRENT_TIME());
END"""
first_cursor.execute(create_trigger_query)

In [ ]:
insert_into_products_query = """INSERT INTO tbl_products (ProductID, ProductName, BuyPrice, SellPrice, NumberOfItems) VALUES('P7', 'Product P7', 40, 40, 100);"""
cursor.execute(insert_into_products_query)
connection.commit()

In [ ]:
execute_display_query_results(select_all_query("tbl_products", logger))
print("\n")
execute_display_query_results(select_all_query("tbl_notifications", logger))

## Task 4
Create an UPDATE trigger called ProductSellPriceUpdateCheck. This trigger must check that products are not updated with a SellPrice that is less than or equal to the BuyPrice. 
If this occurs, add a notification to the Notifications table for the sales department so they can ensure that product prices were not updated with the incorrect values. 
This trigger sends a notification to the Notifications table that warns the sales department of the issue.

The notification message should be in the following format: ProductID + was updated with a SellPrice of  + SellPrice + which is the same or less than the BuyPrice

In [ ]:
create_trigger_query = """CREATE TRIGGER ProductSellPriceUpdateCheck
AFTER UPDATE ON tbl_products FOR EACH ROW
BEGIN
IF NEW.SellPrice < OLD.BuyPrice THEN
INSERT INTO tbl_notifications(Notification, DateTime) VALUES(CONCAT(OLD.ProductID, ' was updated with a SellPrice of ', NEW.SellPrice, ' which is the same or less than the BuyPrice'), CURRENT_TIME());
END IF;
END;"""
cursor.execute(create_trigger_query)

In [ ]:
update_products_query = """UPDATE tbl_products SET SellPrice = 60 WHERE ProductID = 'P6';"""
cursor.execute(update_products_query)
connection.commit()

In [ ]:
execute_display_query_results(select_all_query("tbl_products"))
print("\n")
execute_display_query_results(select_all_query("tbl_notifications"))

## Task 5:

Create a DELETE trigger called NotifyProductDelete. This trigger must insert a notification in the Notifications table for the sales department after a product has been deleted from the Products table.

The notification message should be in the following format: The product with a ProductID  + ProductID + was deleted

In [ ]:
create_trigger_query = """CREATE TRIGGER NotifyProductDelete
AFTER DELETE ON tbl_products FOR EACH ROW
BEGIN
INSERT INTO tbl_notifications(Notification, DateTime) VALUES(CONCAT('The product with the ProductID: ', OLD.ProductID, ' was deleted), CURRENT_TIME());
END;"""
cursor.execute(create_trigger_query)

In [ ]:
delete_from_products_query = """DELETE FROM tbl_products WHERE ProductID = 'P7';"""
cursor.execute(delete_from_products_query)
connection.commit()

In [ ]:
execute_display_query_results(select_all_query("tbl_products"))
print("\n")
execute_display_query_results(select_all_query("tbl_notifications"))