In [1]:
# Import MySQL Connector/Python 
import mysql.connector as connector
import os
import datetime as dt
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

## Step 1: Establish a connection

In [2]:
dbconfig={"database":"little_lemon_db", "user":"root", "password":os.environ["MYSQL_PASSWORD"]}
connection=connector.connect(port=33061, **dbconfig)
print("Connection between MySQL and Python is established.")

Connection between MySQL and Python is established.

## Step 2: Create a cursor

In [3]:
cursor = connection.cursor()
print("Cursor created to communicate with the MySQL using Python.\n")

Cursor created to communicate with the MySQL using Python.

## Step 3: Create the database and set it for use

In [4]:
# If exist, drop the database first, and create again
try:
    cursor.execute("CREATE DATABASE little_lemon_db") 
except:
    cursor.execute("DROP DATABASE little_lemon_db")
    cursor.execute("CREATE DATABASE little_lemon_db")
print("The database little_lemon is created.")  

cursor.execute("USE little_lemon_db")
print("The database little_lemon_db is set for use.")

The database little_lemon is created.
The database little_lemon_db is set for use.

## Step 4: Create tables

In [5]:
#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""


create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""


create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""


create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [6]:
# Create MenuItems table
cursor.execute(create_menuitem_table)
print("Menu Item table created")

# Create Menu table
cursor.execute(create_menu_table)
print("Menu table created")

# Create Bookings table
cursor.execute(create_booking_table)
print("Bookings table created")

# Create Orders table
cursor.execute(create_orders_table)
print("Orders table created")

# Create Employees table
cursor.execute(create_employees_table)
print("Employees table created")

Menu Item table created
Menu table created
Bookings table created
Orders table created
Employees table created

In [7]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01, 'Mario Gollini', 'Manager', '724, Parsley Lane, Old Town, Chicago, IL', 351258074, 'Mario.g@littlelemon.com', '$70,000'),
(02, 'Adrian Gollini', 'Assistant Manager', '334, Dill Square, Lincoln Park, Chicago, IL', 351474048, 'Adrian.g@littlelemon.com', '$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

In [8]:
# Populate MenuItems table
print("Inserting records into the Menu Items table")
cursor.execute(insert_menuitems)
connection.commit()

# Populate Menu table
print("Inserting records into the Menu table")
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
print("Inserting records into the Bookings table")
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
print("Inserting records into the Orders table")
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
print("Inserting records into the Employees table")
cursor.execute(insert_employees)
connection.commit()

Inserting records into the Menu Items table
Inserting records into the Menu table
Inserting records into the Bookings table
Inserting records into the Orders table
Inserting records into the Employees table

# Implement and query stored procedures

## Task 1: Establish a connection

In [9]:
try:
    pool = MySQLConnectionPool(pool_size=4, pool_name="pool_a", host="localhost", port=33061, **dbconfig)
    print(f"The connection pool is created with a name: {pool.pool_name}")
    print(f"The pool size is: {pool.pool_size}")
except Error as err:
    print(f"Error code: {err.errno}")
    print(f"Error message: {err.msg}")

print("Getting a connection from the pool")
conn = pool.get_connection()

print("Creating a cursor object")
cursor = conn.cursor()

The connection pool is created with a name: pool_a
The pool size is: 4
Getting a connection from the pool
Creating a cursor object

## Task 2: Implement a stored procedure called PeakHours
Step one: Write a SQL CREATE PROCEDURE query for PeakHours
- Use HOUR to extract the hour part from the BookingSlot.
- Use COUNT on hour to count the number of bookings.
- Use GROUP BY on booking hour.
- Use ORDER BY on the number of bookings in descending order.

Step two: Run the stored procedure query by invoking execute module on the cursor.

Step three: Invoke callproc to call the stored procedure.

Step four: Fetch the results in a variable called dataset.

Step five: Extract the names of the columns.

Step six: Print the names of the columns.

Step seven: Print the sorted data using for loop.

In [10]:
drop_procedure_query = """
DROP PROCEDURE IF EXISTS PeakHours
"""
cursor.execute(drop_procedure_query)
connection.commit()

stored_procedure_query = """
CREATE PROCEDURE PeakHours()
BEGIN
SELECT HOUR(BookingSlot) AS Hour, COUNT(HOUR(BookingSlot)) as N_Bookings
FROM Bookings
GROUP BY Hour
ORDER BY N_Bookings DESC;
END
"""

In [11]:
cursor.execute(stored_procedure_query)
print("PROCEDURE PeakHours created\n")
cursor.callproc("PeakHours")

print("Fetching the results")
results=next(cursor.stored_results())
cols = results.column_names
print(cols)
dataset = results.fetchall()
for data in dataset:
    print(data)

PROCEDURE PeakHours created

Fetching the results
('Hour', 'N_Bookings')
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

## Task 3: Implement a stored procedure GuestStatus
Step one: Write a SQL CREATE PROCEDURE query for GuestStatus.

Step two: Combine the guest’s first and last name from the booking column using CONCAT. 

Step three: Use CASE to implement the following statuses for each guest’s order:
- If the Role in the Employee table is Manager or Assistant Manager then the guest’s order status is Ready to pay
- If the Role in the Employee table is Head Chef then the status is Ready to serve
- If the Role in the Employee table is Assistant Chef then the status is Preparing Order
- If the Role in the Employee table is Head Waiter then the status is Order served

Step four: LEFT JOIN Bookings table with Employees ON EmployeeID

Step five: Run the stored procedure query by invoking execute module on the cursor.

Step six: Invoke callproc to call the stored procedure.

Step seven: Fetch the results in a variable called dataset.

Step eight: Extract the names of the columns.

Step nine: Print the names of the columns.

Step ten: Print the sorted data using for loop.

Step eleven: Close the connection to return it back to the pool.

In [12]:
drop_procedure_query = """
DROP PROCEDURE IF EXISTS GuestStatus
"""
cursor.execute(drop_procedure_query)
connection.commit()

stored_procedure_query = """
CREATE PROCEDURE GuestStatus()
BEGIN
SELECT CONCAT(Bookings.GuestFirstName, " ", Bookings.GuestLastName) AS FullName,
CASE
WHEN Employees.Role in ('Manager', 'Assistant Manager') THEN "Ready to pay"
WHEN Employees.Role in ('Head Chef') THEN "Ready to serve"
WHEN Employees.Role in ('Assistant Chef') THEN "Preparing Order"
WHEN Employees.Role in ('Head Waiter') THEN "Order served"
ELSE "In Queue"
END AS Status
FROM Bookings
LEFT JOIN Employees ON Bookings.EmployeeID = Employees.EmployeeID;
END
"""

In [13]:
cursor.execute(stored_procedure_query)
print("PROCEDURE GuestStatus created\n")
cursor.callproc("GuestStatus")

results=next(cursor.stored_results())
cols = results.column_names
print(cols)
dataset = results.fetchall()
for data in dataset:
    print(data)


print("\nClosing the connection")
connection.close()

PROCEDURE GuestStatus created

('FullName', 'Status')
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')

Closing the connection

# Little Lemon analysis and sales report

### Task 1:
Complete the following steps to establish a connection pool:
- To create a connection pool, import MySQLConnectionPool class from MySQL Connector/Python.
- To find the information on the error, import the Error class from MySQL Connector/Python.
- Define your database configurations as a Python dictionary object called dbconfig.
- Establish a connection pool [pool_name = pool_b] with two connections.
- Implement error handling using a try-except block in case the connection fails.

In [14]:
try:
    pool = MySQLConnectionPool(pool_size=2, pool_name="pool_b", host="localhost", port=33061, **dbconfig)
    print(f"The connection pool is created with a name: {pool.pool_name}")
    print(f"The pool size is: {pool.pool_size}")
except Error as err:
    print(f"Error code: {err.errno}")
    print(f"Error message: {err.msg}")

The connection pool is created with a name: pool_b
The pool size is: 2

### Task 2:
Three guests are trying to book dinner slots simultaneously. Get the connections from pool_b and insert the following data in the Bookings table:  
Guest 1:  
Table Number: 8  
First Name: Anees  
Last Name: Java  
Booking Time: 18:00  
EmployeeID: 6  

Guest 2:  
Table Number: 5  
First Name: Bald  
Last Name: Vin  
Booking Time: 19:00  
EmployeeID: 6  

Guest 3:  
Table Number: 12  
First Name: Jay  
Last Name: Kon  
Booking Time: 19:30    
EmployeeID: 6  

Return all the connections back to the pool. 
TIP: You need to add a connection to connect the third guest.

In [15]:
print("Getting connections from the pool")
first_connection = pool.get_connection()
second_connection = pool.get_connection()

print("Creating cursor objects from the connections")
first_cursor = first_connection.cursor()
second_cursor = second_connection.cursor()

print("Inserting records into the Database")
first_insert_query="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES(8,'Anees','Java','18:00:00',6);"""

second_insert_query="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES(5, 'Bald','Vin','19:00:00',6);"""

first_cursor.execute(first_insert_query)
first_connection.commit()
print("Bookings table modified. New record added to the table")

second_cursor.execute(second_insert_query)
second_connection.commit()
print("Bookings table modified. New record added to the table")

try:
    third_connection = pool.get_connection()
    print("\nThird Connection successful")
except Error as err:
    print("\nAdding a new connection to the pool")
    # Create a connection and add it to the pool
    connection=connector.connect(port=33061, **dbconfig)
    pool.add_connection(cnx=connection)
    print("A new connection is added in the pool.\n")

    third_connection = pool.get_connection()

print("Creating cursor object from the third connection")
third_cursor = third_connection.cursor()

third_insert_query="""INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES(12, 'Jay','Kon','19:30:00',6);"""

third_cursor.execute(third_insert_query)
third_connection.commit()
print("Bookings table modified. New record added to the table\n")


for connection in [first_connection, second_connection, third_connection]:
    try:
        connection.close()
        print("Connection is returned to the pool")
    except Error as er:
        print("\nConnection can't be returned to the pool")
        print("Error message:", er.msg)

Getting connections from the pool
Creating cursor objects from the connections
Inserting records into the Database
Bookings table modified. New record added to the table
Bookings table modified. New record added to the table

Adding a new connection to the pool
A new connection is added in the pool.

Creating cursor object from the third connection
Bookings table modified. New record added to the table

Connection is returned to the pool
Connection is returned to the pool

Connection can't be returned to the pool
Error message: Failed adding connection; queue is full

### Task 3:
Create a report containing the following information:
- The name and EmployeeID of the Little Lemon manager.
- The name and role of the employee who receives the highest salary.
- The number of guests booked between 18:00 and 20:00.
- The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [16]:
print("Getting a connection from the pool")
task_connection = pool.get_connection()

print("Creating cursor object from the connection")
task_cursor = task_connection.cursor()
print("\n\n")

message = "*************************Creating a select query for 'The name and EmployeeID of the Little Lemon manager.'*************************"
print(message)
select_query="""SELECT Name, EmployeeID FROM Employees
WHERE Role = 'Manager';"""

print("Executing the SQL query")
task_cursor.execute(select_query)

print("Fetching the query results")
results = task_cursor.fetchall()
print("Retrieving the column names\n")
cols = task_cursor.column_names
print(cols)
for result in results:
    print(result)
print("*" * len(message))
print("\n\n\n")


message = "*************************Creating a select query for 'The name and role of the employee who receives the highest salary.'*************************"
print(message)
select_query="""SELECT Name, Role FROM Employees
WHERE Annual_Salary = (SELECT MAX(Annual_Salary) FROM Employees);"""

print("Executing the SQL query")
task_cursor.execute(select_query)

print("Fetching the query results")
results = task_cursor.fetchall()
print("Retrieving the column names\n")
cols = task_cursor.column_names
print(cols)
for result in results:
    print(result)
print("*" * len(message))

print("\n\n\n")


message = "*************************Creating a select query for 'The number of guests booked between 18:00 and 20:00.'*************************"
print(message)
select_query="""SELECT COUNT(BookingID) AS no_guests_booked_btw_18_21
FROM Bookings WHERE BookingSlot BETWEEN '18:00' AND '20:00';"""

print("Executing the SQL query")
task_cursor.execute(select_query)

print("Fetching the query results")
results = task_cursor.fetchall()
print("Retrieving the column names\n")
cols = task_cursor.column_names
print(cols)
for result in results:
    print(result)
print("*" * len(message))

print("\n\n\n")


message = "*************************Creating a select query for 'The full name and the BookingId of each guest waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.'*************************"
print(message)
select_query="""SELECT Bookings.BookingID, CONCAT(Bookings.GuestFirstName, " ", Bookings.GuestLastName) AS GuestFullName
FROM Bookings
LEFT JOIN Employees
ON Bookings.EmployeeID=Employees.EmployeeID
WHERE Employees.Role = "Receptionist"
ORDER BY Bookings.BookingSlot DESC;"""

print("Executing the SQL query")
task_cursor.execute(select_query)

print("Fetching the query results")
results = task_cursor.fetchall()
print("Retrieving the column names\n")
cols = task_cursor.column_names
print(cols)
for result in results:
    print(result)
print("*" * len(message))



print("\n\nClosing the connection")
task_connection.close()

Getting a connection from the pool
Creating cursor object from the connection



*************************Creating a select query for 'The name and EmployeeID of the Little Lemon manager.'*************************
Executing the SQL query
Fetching the query results
Retrieving the column names

('Name', 'EmployeeID')
('Mario Gollini', 1)
************************************************************************************************************************************




*************************Creating a select query for 'The name and role of the employee who receives the highest salary.'*************************
Executing the SQL query
Fetching the query results
Retrieving the column names

('Name', 'Role')
('Mario Gollini', 'Manager')
**************************************************************************************************************************************************




*************************Creating a select query for 'The number of guests booked between 18:00 and 20:00.'*************************
Executing the SQL query
Fetching the query results
Retrieving the column names

('no_guests_booked_btw_18_21',)
(7,)
************************************************************************************************************************************




*************************Creating a select query for 'The full name and the BookingId of each guest waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.'*************************
Executing the SQL query
Fetching the query results
Retrieving the column names

('BookingID', 'GuestFullName')
(9, 'Jay Kon')
(8, 'Bald Vin')
(7, 'Anees Java')
***************************************************************************************************************************************************************************************************************************


Closing the connection

### Task 4:
Create a stored procedure named BasicSalesReport that returns the following statistics:
- Total sales
- Average sale
- Minimum bill paid
- Maximum bill paid

In [17]:
print("Getting a connection from the pool")
task_connection = pool.get_connection()

print("Creating cursor object from the connection")
task_cursor = task_connection.cursor()

drop_procedure_query = """
DROP PROCEDURE IF EXISTS BasicSalesReport
"""
task_cursor.execute(drop_procedure_query)
task_connection.commit()

Getting a connection from the pool
Creating cursor object from the connection

In [18]:
stored_procedure_query = """
CREATE PROCEDURE BasicSalesReport()
BEGIN
SELECT SUM(BillAmount) AS TotalSales,
AVG(BillAmount) AS AverageSales,
MIN(BillAmount) AS MininiumBillAmount,
MAX(BillAmount) AS MaximumBillAmount
FROM Orders; 
END
"""

In [19]:
print("Executing the Procedure Query")
task_cursor.execute(stored_procedure_query)

print("Calling the Procedure")
task_cursor.callproc("BasicSalesReport")

Executing the Procedure Query
Calling the Procedure

()

In [20]:
results=next(task_cursor.stored_results())
print("Retrieving the column names\n")
cols = results.column_names
print(cols)
dataset = results.fetchall()
print("Displaying the results")
print(f"({dataset[0][0]}, {dataset[0][1]}, {dataset[0][2]}, {dataset[0][3]})")

task_connection.close()

Retrieving the column names

('TotalSales', 'AverageSales', 'MininiumBillAmount', 'MaximumBillAmount')
Displaying the results
(243, 48.6000, 37, 86)

### Task 5:
Little Lemon needs to display the next three upcoming bookings from the Bookings table on the kitchen screen to notify their chefs which orders are due next. To complete this task, carry out the following steps:
- Get a connection from the pool.
- Create a buffered cursor.
- Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests.
- Returned the connection back to the pool.

In [21]:
task_connection = pool.get_connection()
task_cursor = task_connection.cursor(buffered=True)

select_query="""SELECT 
Bookings.BookingSlot,
CONCAT(Bookings.GuestFirstName, " ", Bookings.GuestLastName) AS GuestFullName,
Employees.Name AS EmployeeName,
Employees.Role AS EmpployeeRole
FROM Bookings 
INNER JOIN 
Employees ON Bookings.EmployeeID = Employees.EmployeeID
ORDER BY Bookings.BookingSlot ASC;"""

print("Executing the select query")
task_cursor.execute(select_query)

print("Retrieving the first 3 records from the results")
results=task_cursor.fetchmany(size=3)

print("Displaying the results")
for result in results:
    print(f"\nBookingSlot {result[0]}")
    print(f"\tGuest_name: {result[1]}")
    print(f"\tAssigned to: {result[2]} [{result[3]}]")
    
task_connection.close()

Executing the select query
Retrieving the first 3 records from the results
Displaying the results

BookingSlot 15:00:00
	Guest_name: Vanessa McCarthy
	Assigned to: Giorgos Dioudis [Head Chef]

BookingSlot 17:30:00
	Guest_name: Marcos Romero
	Assigned to: Fatma Kaya [Assistant Chef]

BookingSlot 18:00:00
	Guest_name: Anees Java
	Assigned to: John Millar [Receptionist]