## Import the necessary modules

In [1]:
import os
import mysql.connector as connector
import logging
from timeit import default_timer as timer
from datetime import timedelta

## Create a logger

In [2]:
logger = logging.getLogger("[Database Structures and Management with MySQL]")
if os.path.exists("../log/learning-mysql.log"):
  os.remove("../log/learning-mysql.log")
logging.basicConfig(filename='../log/learning-mysql.log', encoding='utf-8', level=logging.DEBUG, format='%(asctime)s ==> %(message)s', datefmt='%m/%d/%Y %I:%M:%S')

## Establish a connection using MySQlConnectionPool

In [3]:
logger.info("Creating a connection between MySQL and Python")
dbconfig={"user":"user_wsl", "password":"Bright##++29", "port":33061, "host":"localhost"}
connection=connector.connect(**dbconfig)
print("Connection established between MySQL and Python")
logger.info("Connection established between MySQL and Python")

Connection established between MySQL and Python

## Create a cursor objects

In [4]:
print("Creating cursor object from the connection")
logger.info("Creating cursor object from the connection")
cursor = connection.cursor(buffered=True)
print("Cursor object created to communicate with MySQL using Python.")
logger.info("Cursor object created to communicate with MySQL using Python.")

Creating cursor object from the connection
Cursor object created to communicate with MySQL using Python.

## Create a function to display results

In [5]:
def select_all_query(table_name: str):
    return f"""SELECT * FROM {table_name};"""


def display_results(table_column_names: list, results: list):
    #start = timer()
    table_columns_length = [len(x) for x in table_column_names]
    for result in results:
        for value in range(len(result)):
            row_data = result[value]
            if row_data:
                row_data = str(row_data)
                length_row_data = len(row_data)
                if length_row_data > table_columns_length[value]:
                    if length_row_data > 60:
                        length_row_data = length_row_data + 10
                    table_columns_length[value] = length_row_data
    dashes_plus = ""
    for num in range(len(table_columns_length)):
        dashes_plus = dashes_plus + "+" + '-'*(table_columns_length[num]+2)
    dashes_plus = dashes_plus + "+"
    
    print(dashes_plus)
    
    table_headers = ""
    for num in range(len(table_column_names)):
        table_headers = table_headers + f"| {table_column_names[num]:^{table_columns_length[num]}} "
    table_headers = table_headers + "|"
    print(table_headers)
    
    print(dashes_plus)
    
    for result in results:
        table_row = ""
        for value in range(len(result)):
            row_data = result[value]
            if row_data is None:
                row_data = "NULL"            
                #if "Field" in table_column_names or "select_type" in table_column_names:
                    #row_data = None
                #else:
                    #row_data = None
            table_row = table_row + "|" + f"{str(row_data):^{table_columns_length[value]+2}}"
        print(table_row + "|")
    print(dashes_plus)
    num_rows: int = len(results)
    message: str = "row returned" if num_rows == 1 else "rows returned"
    #end = timer()
    #print(timedelta(seconds=end-start))
    print(f"{num_rows} {message}")

def execute_display_query_results(query: str = "", table_column_names: list = [], results: list = []): 
    logger.info(f"Executing the query: {query}")
    if len(query) > 2 and (table_column_names or results):
        print("You can only pass in the query alone or the table_column_names and results list")
        assert False
    if query and not table_column_names and not results:
        cursor.execute(query)
        results = cursor.fetchall()    
        table_column_names = cursor.column_names
        
    
    display_results(table_column_names, results)

## Show Version of MySQL

In [6]:
show_version_query = """SELECT VERSION() AS Version;"""
execute_display_query_results(query=show_version_query)

+-------------------------+
|         Version         |
+-------------------------+
| 8.0.39-0ubuntu0.22.04.1 |
+-------------------------+
1 row returned

## Show Database

In [7]:
show_version_query = """SHOW DATABASES;"""
execute_display_query_results(query=show_version_query)

+------------------------+
|        Database        |
+------------------------+
|          CVD           |
|     LittleLemonDB      |
|           PC           |
|    STAFF_LOCATIONS     |
|     classicmodels      |
|      db_Exercise       |
|    db_aggregate_fxn    |
|         db_hr          |
|       db_learner       |
|    db_little_lemon     |
|        db_meta         |
| db_meta_advanced_mysql |
|   db_meta_dsm_mysql    |
|        db_music        |
|     db_mysqladmin      |
|     db_subqueries      |
|        db_views        |
|        db_world        |
|   global_super_store   |
|   information_schema   |
|      little_lemon      |
|    little_lemon_db     |
|      lucky_Shrub       |
|     mangata_gallo      |
|     mangata_jw_db      |
|        meta_db         |
|       mg_schema        |
|         mysql          |
|   performance_schema   |
|         sakila         |
|          sys           |
+------------------------+
31 rows returned

# Show MySQL Users

In [8]:
cursor.execute("USE mysql;")
execute_display_query_results("SELECT COUNT(*) FROM user;")

+----------+
| COUNT(*) |
+----------+
|    7     |
+----------+
1 row returned

In [9]:
execute_display_query_results("SELECT Host, User, plugin, authentication_string FROM user;")

+-----------+------------------+-----------------------+----------------------------------------------------------------------------------+
|   Host    |       User       |        plugin         |                              authentication_string                               |
+-----------+------------------+-----------------------+----------------------------------------------------------------------------------+
| localhost |     db_user      | caching_sha2_password |      $A$005$y?A*~%#*f8*fW=gQBaUbuAX.dqfly6t7siRO.kMbaWMvqu97oFkWD14vj133      |
| localhost | debian-sys-maint | caching_sha2_password |      $A$005$}}ev<)+K9WgU@%>)'b.N1PFqf6Pz0tJQob0B3QaGBGziu6X8RoXtjh0wnFFA      |
| localhost | mysql.infoschema | caching_sha2_password |      $A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED      |
| localhost |  mysql.session   | caching_sha2_password |      $A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED      |
| localhost |    mysql.sys     | caching_sha2_password |      $A$005$THISISACOMBINATIONOFINVALIDSALTANDPASSWORDTHATMUSTNEVERBRBEUSED      |
| localhost |       root       | mysql_native_password |                    *3F41383DCA5000B6BA551B72F98EDDAB12C7986A                     |
| localhost |     user_wsl     | caching_sha2_password |      $A$005$~b"f* ?g)=NA-]'	cschq5yOvvE.Ef1D5usDYngQFCzqE5oiFrgxQA1Luo4      |
+-----------+------------------+-----------------------+----------------------------------------------------------------------------------+
7 rows returned

In [10]:
#dbconfig={"user":"user_wsl", "password":"Bright##++29", "port":33061, "host":"localhost"}
#connection_1=mysql.connect(**dbconfig)
#print("Connection established between MySQL and Python")
#logger.info("Connection established between MySQL and Python")

In [11]:
#dbconfig={"user":"user_wsl", "password":"Bright##++29", "port":33061, "host":"localhost"}
#connection_2=connector.connect(**dbconfig)
#cursor_2 = connection_2.cursor(buffered=True)
#print("Connection established between MySQL and Python")
#logger.info("Connection established between MySQL and Python")

# Create Database for use

In [12]:
# Drop Database if it exists
drop_database_query = """DROP DATABASE IF EXISTS db_music;"""
cursor.execute(drop_database_query)

## Create the database
create_database_query = """CREATE DATABASE db_music;"""
cursor.execute(create_database_query)

## Set the new database created as the database to be used
use_database_query = """USE db_music;"""
cursor.execute(use_database_query)

# Create Tables in the Database

In [13]:
create_artist_table_query = """CREATE TABLE IF NOT EXISTS tbl_artist (
    artist_id SMALLINT(5) NOT NULL DEFAULT 0,
    artist_name CHAR(128) DEFAULT NULL,
    PRIMARY KEY (artist_id)
) engine=innoDB;"""
cursor.execute(create_artist_table_query)


create_album_table_query = """CREATE TABLE IF NOT EXISTS tbl_album (
    artist_id SMALLINT(5) NOT NULL DEFAULT 0,
    album_id SMALLINT(4) NOT NULL DEFAULT 0,
    album_name CHAR(128) DEFAULT NULL,
    PRIMARY KEY (artist_id,album_id),
    FOREIGN KEY (artist_id) REFERENCES tbl_artist(artist_id)
) engine=innoDB;"""
cursor.execute(create_album_table_query)

create_track_table_query = """CREATE TABLE IF NOT EXISTS tbl_track (
    track_id SMALLINT(3) NOT NULL DEFAULT 0,
    track_name CHAR(128) DEFAULT NULL,
    artist_id SMALLINT(5) NOT NULL DEFAULT 0,
    album_id SMALLINT(4) NOT NULL DEFAULT 0,
    time DECIMAL(5,2) DEFAULT NULL,
    PRIMARY KEY (artist_id,album_id,track_id),
    FOREIGN KEY (artist_id)	REFERENCES tbl_artist(artist_id),
    FOREIGN KEY (artist_id,album_id) REFERENCES tbl_album(artist_id,album_id)
) engine=innoDB;"""
cursor.execute(create_track_table_query)


create_played_table_query = """CREATE TABLE IF NOT EXISTS tbl_played (
    artist_id SMALLINT(5) NOT NULL DEFAULT 0,
    album_id SMALLINT(4) NOT NULL DEFAULT 0,
    track_id SMALLINT(3) NOT NULL DEFAULT 0,
    played TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP on update CURRENT_TIMESTAMP,
    PRIMARY KEY (artist_id,album_id,track_id,played),
    FOREIGN KEY (artist_id)	REFERENCES tbl_artist(artist_id),
    FOREIGN KEY (artist_id,album_id) REFERENCES tbl_album(artist_id,album_id),
    FOREIGN KEY (artist_id,album_id,track_id) REFERENCES tbl_track(artist_id,album_id,track_id)
) engine=innoDB;"""
cursor.execute(create_played_table_query)

In [ ]:
DROP DATABASE IF EXISTS `Flight`;

CREATE DATABASE `Flight`;

USE `Flight`;

CREATE TABLE `Airplane` (
    `RegistrationNumber` CHAR(8) NOT NULL,
    `ModelNumber` CHAR(8),
    `Capacity` SMALLINT,
    PRIMARY KEY (`RegistrationNumber`)
) engine=innoDB;

CREATE TABLE `Flight` (
    `FlightNumber` CHAR(8) NOT NULL,
    `From` CHAR(20),
    `To` CHAR(20),
    `DepartureDate` DATE,
    `DepartureTime` TIME,
    `ArrivalDate` DATE,
    `ArrivalTime` TIME,
    `RegistrationNumber` CHAR(10),
    PRIMARY KEY (`FlightNumber`),
    FOREIGN KEY (RegistrationNumber) REFERENCES Airplane(RegistrationNumber)
) engine=innoDB;

CREATE TABLE `Passenger` (
    `GivenNames` CHAR(40),
    `Surname` CHAR(40),
    `EmailAddress` CHAR(60) NOT NULL,
    PRIMARY KEY (`EmailAddress`)
) engine=innoDB;

CREATE TABLE `Booking` (
    `FlightNumber` CHAR(8) NOT NULL,
    `EmailAddress` CHAR(60) NOT NULL,
    PRIMARY KEY (`FlightNumber`, `EmailAddress`),
    FOREIGN KEY (FlightNumber) REFERENCES Flight(FlightNumber),
    FOREIGN KEY (EmailAddress) REFERENCES Passenger(EmailAddress)
) engine=innoDB;

In [ ]:
DROP DATABASE IF EXISTS `University`;

CREATE DATABASE `University`;

USE `University`;


CREATE TABLE `Student` (
    `GivenNames` CHAR(40),
    `Surname` CHAR(45),
    `Student_ID` CHAR(8),
    `DateOfBirth` DATE,
    `YearEnrolled` YEAR,
    `Program_ID` CHAR(8),
    PRIMARY KEY (`Student_ID`)
) engine=innoDB;

CREATE TABLE `Program` (
    `Name` CHAR(40),
    `Program_ID` CHAR(8),
    `CreditPoints` SMALLINT,
    `YearCommenced` YEAR,
    PRIMARY KEY (`Program_ID`)
) engine=innoDB;

CREATE TABLE `Course` (
    `Name` CHAR(40),
    `Course_ID` CHAR(8),
    `CreditPoints` SMALLINT,
    `YearCommenced` YEAR,
    PRIMARY KEY (`Course_ID`)
) engine=innoDB;

CREATE TABLE `Attempts` (
    `Year` YEAR,
    `Semester` CHAR(2),
    `Mark` SMALLINT,
    `Grade` CHAR(4),
    `Student_ID` CHAR(8),
    `Course_ID` CHAR(8),
    PRIMARY KEY (`Semester`, `Year`),
    FOREIGN KEY (Student_ID) REFERENCES Student(Student_ID),
    FOREIGN KEY (Course_ID) REFERENCES Course(Course_ID)
) engine=innoDB;

CREATE TABLE `EnrolsIn` (
    `Student_ID` CHAR(8),
    `Program_ID` CHAR(8),
    PRIMARY KEY (`Student_ID`, `Program_ID`),
    FOREIGN KEY (Student_ID) REFERENCES Student(Student_ID),
    FOREIGN KEY (Program_ID) REFERENCES Program(Program_ID)
) engine=innoDB;

CREATE TABLE `Contains` (
    `Semester` CHAR(2),
    `Year` YEAR,
    `Course_ID` CHAR(8),
    `Program_ID` CHAR(8),
    PRIMARY KEY (`Course_ID`, `Program_ID`),
    FOREIGN KEY (Program_ID) REFERENCES Program(Program_ID),
    FOREIGN KEY (Course_ID) REFERENCES Course(Course_ID)
) engine=innoDB;

## Insert Data into the tables

In [14]:
insert_into_artist_query = """INSERT INTO tbl_artist VALUES 
(1, "New Order"), 
(2, "Nick Cave & The Bad Seeds"),
(3, "Miles Davis"),
(4, "The Rolling Stones"),
(5, "The Stone Roses"),
(6, "Kylie Minogue");"""
cursor.execute(insert_into_artist_query)


insert_into_album_query = """INSERT INTO tbl_album VALUES 
(2, 1, "Let Love In"),
(1, 1, "Retro - John McCready FAN"),
(1, 2, "Substance (Disc 2)"),
(1, 3, "Retro - Miranda Sawyer POP"),
(1, 4, "Retro - New Order / Bobby Gillespie LIVE"),
(3, 1, "Live Around The World"),
(3, 2, "In A Silent Way"),
(1, 5, "Power, Corruption & Lies"),
(4, 1, "Exile On Main Street"),
(1, 6, "Substance 1987 (Disc 1)"),
(5, 1, "Second Coming"),
(6, 1, "Light Years"),
(1, 7, "Brotherhood");"""
cursor.execute(insert_into_album_query)

insert_into_track_query = """INSERT INTO tbl_track VALUES 
(0,'Do You Love Me?',2,1,'5.95'), (1, 'Nobody''s Baby Now', 2,1,'3.87'), (2,'Loverman',2,1,'6.37'), 
(3,'Jangling Jack',2,1,'2.78'), (4,'Red Right Hand',2,1,'6.18'), (5,'I Let Love In',2,1,'4.25'),
(6,'Thirsty Dog',2,1,'3.81'), (7,'Ain''t Gonna Rain Anymore',2,1,'3.77'), (8,'Lay Me Low',2,1,'5.15'), (9,'Do You Love Me? (Part Two)',2,1,'6.23'),
(0,'Elegia',1,1,'4.93'), (1,'In A Lonely Place',1,1,'6.26'), (2,'Procession',1,1,'4.47'), (3,'Your Silent Face',1,1,'5.99'), 
(4,'Sunrise',1,1,'6.01'), (5,'Let''s Go',1,1,'3.90'), (6,'Broken Promise',1,1,'3.76'), (7,'Dreams Never End',1,1,'3.20'),
(8,'Cries And Whispers',1,1,'3.42'), (9,'All Day Long',1,1,'5.18'), (10,'Sooner Than You Think',1,1,'5.21'),
(11,'Leave Me Alone',1,1,'4.67'), (12,'Lonesome Tonight',1,1,'5.19'), (13,'Every Little Counts',1,1,'4.47'), 
(14,'Run Wild',1,1,'3.95'), (0,'In A Lonely Place',1,2,'6.30'), (1,'Procession',1,2,'4.46'), (2,'Mesh',1,2,'3.44'), 
(3,'Hurt',1,2,'6.98'), (4,'The Beach',1,2,'7.32'), (5,'Confusion',1,2,'7.64'), (6,'Lonesome Tonight',1,2,'5.20'), 
(7,'Murder',1,2,'3.93'), (8,'Thieves Like Us',1,2,'6.95'), (9,'Kiss Of Death',1,2,'7.05'), (10,'Shame Of The Nation',1,2,'7.91'),
(11,'1963',1,2,'5.63'), (0,'Fine Time',1,3,'4.71'), (1,'Temptation',1,3,'8.71'), (2,'True Faith',1,3,'5.88'), (3,'The Perfect Kiss',1,3,'4.83'),
(4,'Ceremony',1,3,'4.41'), (5,'Regret',1,3,'4.14'), (6,'Crystal',1,3,'6.83'), (7,'Bizarre Love Triangle',1,3,'4.35'), (8,'Confusion',1,3,'8.22'),
(9,'Round And Round',1,3,'4.52'), (10,'Blue Monday',1,3,'7.48'), (11,'Brutal',1,3,'4.83'), (12,'Slow Jam',1,3,'4.88'), (13,'Everyone Everywhere',1,3,'4.43'),
(0,'Ceremony [Studio 54, Barcelona 7/7/84]',1,4,'4.82'), (1,'Procession [Polytechnic of Central London, London 6/12/85]',1,4,'3.57'),
(2,'Everything''s Gone Green [Tolworth Recreation Centre, London 12/3/85]',1,4,'5.25'),
(3,'In A Lonely Place [Glastonbury Festival 20/6/81]',1,4,'5.55'), (4,'Age Of Consent [Spectrum Arena, Warrington 1/3/86]',1,4,'5.04'), 
(5,'Elegia [Glastonbury Festival 19/6/87]',1,4,'4.77'), (6,'The Perfect Kiss [Glastonbury Festival 19/6/87]',1,4,'9.73'),
(7,'Fine Time [Popular Creek Music Theatre, Chicago 30/6/89]',1,4,'5.04'), (8,'World [Starplex Amphitheatre, Dallas 21/7/93]',1,4,'4.81'),
(9,'Regret [Reading Festival 29/8/93]',1,4,'4.03'),  (10,'As It Is When It Was [Reading Festival 29/8/93]',1,4,'3.80'),
(11,'Intermission By Alan Wise [Olympia, Paris 12/11/01]',1,4,'1.34'),
(12,'Crystal [Big Day Out, Gold Coast 20/1/02]',1,4,'6.86'),
(13,'Turn My Way [Olympia, Liverpool 18/7/01]',1,4,'4.96'),
(14,'Temptation [Big Day Out, Gold Coast 20/1/02]',1,4,'7.79'),
(0,'In A Silent Way',3,1,'1.81'), (1,'Intruder',3,1,'4.87'),
(2,'New Blues',3,1,'5.58'), (3,'Human Nature',3,1,'12.80'),
(4,'Mr. Pastorius',3,1,'3.54'), (5,'Amandla',3,1,'5.87'),
(6,'Wrinkle',3,1,'7.28'),  (7,'Tutu',3,1,'8.89'),
(8,'Full Nelson',3,1,'2.81'), (9,'Time After Time',3,1,'9.98'),
(10,'Hannibal',3,1,'7.37'), (0,'Shhh/Peaceful',3,2,'16.67'),
(1,'In A Silent Way/It''s About That Time',3,2,'16.67'),
(0,'Age Of Consent',1,5,'5.26'), (1,'We All Stand',1,5,'5.24'),
(2,'The Village',1,5,'4.62'), (3,'5 8 6',1,5,'7.52'), 
(4,'Your Silent Face',1,5,'6.00'), (5,'Ultraviolence',1,5,'4.87'),
(6,'Ecstasy',1,5,'4.42'), (7,'Leave Me Alone',1,5,'4.69'),
(0,'Rocks Off',4,1,'4.54'), (1,'Rip This Joint',4,1,'2.38'),
(2,'Shake Your Hips',4,1,'3.00'), (3,'Casino Boogie',4,1,'3.57'),
(4,'Tumbling Dice',4,1,'3.79'), (5,'Sweet Virginia',4,1,'4.44'),
(6,'Torn & Frayed',4,1,'4.30'), (7,'Sweet Black Angel',4,1,'2.97'),
(8,'Loving Cup',4,1,'4.43'), (9,'Happy',4,1,'3.08'),
(10,'Turd On The Run',4,1,'2.64'), (11,'Ventilator Blues',4,1,'3.40'),
(12,'I Just Want To See His Face',4,1,'2.90'), (13,'Let It Loose',4,1,'5.31'),
(14,'All Down The Line',4,1,'3.84'), (15,'Stop Breaking Down',4,1,'4.57'),
(16,'Shine A Light',4,1,'4.28'), (17,'Soul Survivor',4,1,'3.82'),
(0,'Ceremony',1,6,'4.42'), (1,'Everything''s Gone Green',1,6,'5.51'),
(2,'Temptation',1,6,'6.99'), (3,'Blue Monday',1,6,'7.49'),
(4,'Confusion',1,6,'4.72'), (5,'Thieves Like Us',1,6,'6.61'),
(6,'Perfect Kiss',1,6,'8.04'), (7,'Subculture',1,6,'4.80'),
(8,'Shellshock',1,6,'6.48'), (9,'State of the Nation',1,6,'6.54'),
(10,'Bizarre Love Triangle',1,6,'6.74'), (11,'True Faith',1,6,'5.93'),
(0,'Breaking Into Heaven',5,1,'11.37'), (1,'Driving South',5,1,'5.17'),
(2,'Ten Storey Love Song',5,1,'4.50'), (3,'Daybreak',5,1,'6.56'),
(4,'Your Star Will Shine',5,1,'2.99'), (5,'Straight To The Man',5,1,'3.26'),
(6,'Begging You',5,1,'4.94'), (7,'Tightrope',5,1,'4.45'),
(8,'Good Times',5,1,'5.67'), (9,'Tears',5,1,'6.84'),
(10,'How Do You Sleep',5,1,'4.99'), (11,'Love Spreads',5,1,'5.79'),
(12,'Untitled',5,1,'6.43'),
(0,'Spinning Around',6,1,'3.46'), (1,'On A Night Like This',6,1,'3.55'),
(2,'So Now Goodbye',6,1,'3.62'),  (3,'Disco Down',6,1,'3.96'),
(4,'Loveboat',6,1,'4.18'), (5,'Koocachoo',6,1,'4.00'),
(6,'Your Disco Needs You',6,1,'3.56'), (7,'Please Stay',6,1,'4.14'),
(8,'Bittersweet Goodbye',6,1,'3.72'), (9,'Butterfly',6,1,'4.16'),
(10,'Under The Influence Of Love',6,1,'3.40'), (11,'I''m So High',6,1,'3.55'), 
(12,'Kids',6,1,'4.34'), (0,'State of the Nation',1,7,'6.56'),
(1,'Every Little Counts',1,7,'4.48'), (2,'Angel Dust',1,7,'3.73'),
(3,'All Day Long',1,7,'5.21'), (4,'Bizarre Love Triangle',1,7,'4.37'),
(5,'Way of Life',1,7,'4.11'), (6,'Broken Promise',1,7,'3.80'),
(7,'As It Is When It Was',1,7,'3.77'), (8,'Weirdo',1,7,'3.89'),
(9,'Paradise',1,7,'3.86');"""
cursor.execute(insert_into_track_query)

insert_into_played_query = """INSERT INTO tbl_played VALUES 
(1, 3, 0, "20060814102103"), (1, 3, 1, "20060814102522"),
(1, 3, 2, "20060814103025"), (1, 3, 3, "20060814103654"),
(1, 3, 4, "20060814104143"), (1, 3, 5, "20060814104337"),
(1, 3, 6, "20060814104721"), (1, 3, 7, "20060814105402"),
(3, 1, 0, "20060815140003"), (3, 1, 1, "20060815142612"), 
(3, 1, 2, "20060815143357");"""
cursor.execute(insert_into_played_query)

connection.commit()

In [15]:
print("\ntbl_artist")
execute_display_query_results(select_all_query("tbl_artist"))
print("\ntbl_album")
execute_display_query_results(select_all_query("tbl_album"))
print("\ntbl_track")
execute_display_query_results(select_all_query("tbl_track"))
print("\ntbl_played")
execute_display_query_results(select_all_query("tbl_played"))

tbl_artist
+-----------+---------------------------+
| artist_id |        artist_name        |
+-----------+---------------------------+
|     1     |         New Order         |
|     2     | Nick Cave & The Bad Seeds |
|     3     |        Miles Davis        |
|     4     |    The Rolling Stones     |
|     5     |      The Stone Roses      |
|     6     |       Kylie Minogue       |
+-----------+---------------------------+
6 rows returned

tbl_album
+-----------+----------+------------------------------------------+
| artist_id | album_id |                album_name                |
+-----------+----------+------------------------------------------+
|     1     |    1     |        Retro - John McCready FAN         |
|     1     |    2     |            Substance (Disc 2)            |
|     1     |    3     |        Retro - Miranda Sawyer POP        |
|     1     |    4     | Retro - New Order / Bobby Gillespie LIVE |
|     1     |    5     |         Power, Corruption & Lies         |
|     1     |    6     |         Substance 1987 (Disc 1)          |
|     1     |    7     |               Brotherhood                |
|     2     |    1     |               Let Love In                |
|     3     |    1     |          Live Around The World           |
|     3     |    2     |             In A Silent Way              |
|     4     |    1     |           Exile On Main Street           |
|     5     |    1     |              Second Coming               |
|     6     |    1     |               Light Years                |
+-----------+----------+------------------------------------------+
13 rows returned

tbl_track
+----------+--------------------------------------------------------------------------------+-----------+----------+-------+
| track_id |                                   track_name                                   | artist_id | album_id | time  |
+----------+--------------------------------------------------------------------------------+-----------+----------+-------+
|    0     |                                     Elegia                                     |     1     |    1     | 4.93  |
|    1     |                               In A Lonely Place                                |     1     |    1     | 6.26  |
|    2     |                                   Procession                                   |     1     |    1     | 4.47  |
|    3     |                                Your Silent Face                                |     1     |    1     | 5.99  |
|    4     |                                    Sunrise                                     |     1     |    1     | 6.01  |
|    5     |                                    Let's Go                                    |     1     |    1     | 3.90  |
|    6     |                                 Broken Promise                                 |     1     |    1     | 3.76  |
|    7     |                                Dreams Never End                                |     1     |    1     | 3.20  |
|    8     |                               Cries And Whispers                               |     1     |    1     | 3.42  |
|    9     |                                  All Day Long                                  |     1     |    1     | 5.18  |
|    10    |                             Sooner Than You Think                              |     1     |    1     | 5.21  |
|    11    |                                 Leave Me Alone                                 |     1     |    1     | 4.67  |
|    12    |                                Lonesome Tonight                                |     1     |    1     | 5.19  |
|    13    |                              Every Little Counts                               |     1     |    1     | 4.47  |
|    14    |                                    Run Wild                                    |     1     |    1     | 3.95  |
|    0     |                               In A Lonely Place                                |     1     |    2     | 6.30  |
|    1     |                                   Procession                                   |     1     |    2     | 4.46  |
|    2     |                                      Mesh                                      |     1     |    2     | 3.44  |
|    3     |                                      Hurt                                      |     1     |    2     | 6.98  |
|    4     |                                   The Beach                                    |     1     |    2     | 7.32  |
|    5     |                                   Confusion                                    |     1     |    2     | 7.64  |
|    6     |                                Lonesome Tonight                                |     1     |    2     | 5.20  |
|    7     |                                     Murder                                     |     1     |    2     | 3.93  |
|    8     |                                Thieves Like Us                                 |     1     |    2     | 6.95  |
|    9     |                                 Kiss Of Death                                  |     1     |    2     | 7.05  |
|    10    |                              Shame Of The Nation                               |     1     |    2     | 7.91  |
|    11    |                                      1963                                      |     1     |    2     | 5.63  |
|    0     |                                   Fine Time                                    |     1     |    3     | 4.71  |
|    1     |                                   Temptation                                   |     1     |    3     | 8.71  |
|    2     |                                   True Faith                                   |     1     |    3     | 5.88  |
|    3     |                                The Perfect Kiss                                |     1     |    3     | 4.83  |
|    4     |                                    Ceremony                                    |     1     |    3     | 4.41  |
|    5     |                                     Regret                                     |     1     |    3     | 4.14  |
|    6     |                                    Crystal                                     |     1     |    3     | 6.83  |
|    7     |                             Bizarre Love Triangle                              |     1     |    3     | 4.35  |
|    8     |                                   Confusion                                    |     1     |    3     | 8.22  |
|    9     |                                Round And Round                                 |     1     |    3     | 4.52  |
|    10    |                                  Blue Monday                                   |     1     |    3     | 7.48  |
|    11    |                                     Brutal                                     |     1     |    3     | 4.83  |
|    12    |                                    Slow Jam                                    |     1     |    3     | 4.88  |
|    13    |                              Everyone Everywhere                               |     1     |    3     | 4.43  |
|    0     |                     Ceremony [Studio 54, Barcelona 7/7/84]                     |     1     |    4     | 4.82  |
|    1     |           Procession [Polytechnic of Central London, London 6/12/85]           |     1     |    4     | 3.57  |
|    2     |      Everything's Gone Green [Tolworth Recreation Centre, London 12/3/85]      |     1     |    4     | 5.25  |
|    3     |                In A Lonely Place [Glastonbury Festival 20/6/81]                |     1     |    4     | 5.55  |
|    4     |               Age Of Consent [Spectrum Arena, Warrington 1/3/86]               |     1     |    4     | 5.04  |
|    5     |                     Elegia [Glastonbury Festival 19/6/87]                      |     1     |    4     | 4.77  |
|    6     |                The Perfect Kiss [Glastonbury Festival 19/6/87]                 |     1     |    4     | 9.73  |
|    7     |            Fine Time [Popular Creek Music Theatre, Chicago 30/6/89]            |     1     |    4     | 5.04  |
|    8     |                 World [Starplex Amphitheatre, Dallas 21/7/93]                  |     1     |    4     | 4.81  |
|    9     |                       Regret [Reading Festival 29/8/93]                        |     1     |    4     | 4.03  |
|    10    |                As It Is When It Was [Reading Festival 29/8/93]                 |     1     |    4     | 3.80  |
|    11    |              Intermission By Alan Wise [Olympia, Paris 12/11/01]               |     1     |    4     | 1.34  |
|    12    |                   Crystal [Big Day Out, Gold Coast 20/1/02]                    |     1     |    4     | 6.86  |
|    13    |                    Turn My Way [Olympia, Liverpool 18/7/01]                    |     1     |    4     | 4.96  |
|    14    |                  Temptation [Big Day Out, Gold Coast 20/1/02]                  |     1     |    4     | 7.79  |
|    0     |                                 Age Of Consent                                 |     1     |    5     | 5.26  |
|    1     |                                  We All Stand                                  |     1     |    5     | 5.24  |
|    2     |                                  The Village                                   |     1     |    5     | 4.62  |
|    3     |                                     5 8 6                                      |     1     |    5     | 7.52  |
|    4     |                                Your Silent Face                                |     1     |    5     | 6.00  |
|    5     |                                 Ultraviolence                                  |     1     |    5     | 4.87  |
|    6     |                                    Ecstasy                                     |     1     |    5     | 4.42  |
|    7     |                                 Leave Me Alone                                 |     1     |    5     | 4.69  |
|    0     |                                    Ceremony                                    |     1     |    6     | 4.42  |
|    1     |                            Everything's Gone Green                             |     1     |    6     | 5.51  |
|    2     |                                   Temptation                                   |     1     |    6     | 6.99  |
|    3     |                                  Blue Monday                                   |     1     |    6     | 7.49  |
|    4     |                                   Confusion                                    |     1     |    6     | 4.72  |
|    5     |                                Thieves Like Us                                 |     1     |    6     | 6.61  |
|    6     |                                  Perfect Kiss                                  |     1     |    6     | 8.04  |
|    7     |                                   Subculture                                   |     1     |    6     | 4.80  |
|    8     |                                   Shellshock                                   |     1     |    6     | 6.48  |
|    9     |                              State of the Nation                               |     1     |    6     | 6.54  |
|    10    |                             Bizarre Love Triangle                              |     1     |    6     | 6.74  |
|    11    |                                   True Faith                                   |     1     |    6     | 5.93  |
|    0     |                              State of the Nation                               |     1     |    7     | 6.56  |
|    1     |                              Every Little Counts                               |     1     |    7     | 4.48  |
|    2     |                                   Angel Dust                                   |     1     |    7     | 3.73  |
|    3     |                                  All Day Long                                  |     1     |    7     | 5.21  |
|    4     |                             Bizarre Love Triangle                              |     1     |    7     | 4.37  |
|    5     |                                  Way of Life                                   |     1     |    7     | 4.11  |
|    6     |                                 Broken Promise                                 |     1     |    7     | 3.80  |
|    7     |                              As It Is When It Was                              |     1     |    7     | 3.77  |
|    8     |                                     Weirdo                                     |     1     |    7     | 3.89  |
|    9     |                                    Paradise                                    |     1     |    7     | 3.86  |
|    0     |                                Do You Love Me?                                 |     2     |    1     | 5.95  |
|    1     |                               Nobody's Baby Now                                |     2     |    1     | 3.87  |
|    2     |                                    Loverman                                    |     2     |    1     | 6.37  |
|    3     |                                 Jangling Jack                                  |     2     |    1     | 2.78  |
|    4     |                                 Red Right Hand                                 |     2     |    1     | 6.18  |
|    5     |                                 I Let Love In                                  |     2     |    1     | 4.25  |
|    6     |                                  Thirsty Dog                                   |     2     |    1     | 3.81  |
|    7     |                            Ain't Gonna Rain Anymore                            |     2     |    1     | 3.77  |
|    8     |                                   Lay Me Low                                   |     2     |    1     | 5.15  |
|    9     |                           Do You Love Me? (Part Two)                           |     2     |    1     | 6.23  |
|    0     |                                In A Silent Way                                 |     3     |    1     | 1.81  |
|    1     |                                    Intruder                                    |     3     |    1     | 4.87  |
|    2     |                                   New Blues                                    |     3     |    1     | 5.58  |
|    3     |                                  Human Nature                                  |     3     |    1     | 12.80 |
|    4     |                                 Mr. Pastorius                                  |     3     |    1     | 3.54  |
|    5     |                                    Amandla                                     |     3     |    1     | 5.87  |
|    6     |                                    Wrinkle                                     |     3     |    1     | 7.28  |
|    7     |                                      Tutu                                      |     3     |    1     | 8.89  |
|    8     |                                  Full Nelson                                   |     3     |    1     | 2.81  |
|    9     |                                Time After Time                                 |     3     |    1     | 9.98  |
|    10    |                                    Hannibal                                    |     3     |    1     | 7.37  |
|    0     |                                 Shhh/Peaceful                                  |     3     |    2     | 16.67 |
|    1     |                      In A Silent Way/It's About That Time                      |     3     |    2     | 16.67 |
|    0     |                                   Rocks Off                                    |     4     |    1     | 4.54  |
|    1     |                                 Rip This Joint                                 |     4     |    1     | 2.38  |
|    2     |                                Shake Your Hips                                 |     4     |    1     | 3.00  |
|    3     |                                 Casino Boogie                                  |     4     |    1     | 3.57  |
|    4     |                                 Tumbling Dice                                  |     4     |    1     | 3.79  |
|    5     |                                 Sweet Virginia                                 |     4     |    1     | 4.44  |
|    6     |                                 Torn & Frayed                                  |     4     |    1     | 4.30  |
|    7     |                               Sweet Black Angel                                |     4     |    1     | 2.97  |
|    8     |                                   Loving Cup                                   |     4     |    1     | 4.43  |
|    9     |                                     Happy                                      |     4     |    1     | 3.08  |
|    10    |                                Turd On The Run                                 |     4     |    1     | 2.64  |
|    11    |                                Ventilator Blues                                |     4     |    1     | 3.40  |
|    12    |                          I Just Want To See His Face                           |     4     |    1     | 2.90  |
|    13    |                                  Let It Loose                                  |     4     |    1     | 5.31  |
|    14    |                               All Down The Line                                |     4     |    1     | 3.84  |
|    15    |                               Stop Breaking Down                               |     4     |    1     | 4.57  |
|    16    |                                 Shine A Light                                  |     4     |    1     | 4.28  |
|    17    |                                 Soul Survivor                                  |     4     |    1     | 3.82  |
|    0     |                              Breaking Into Heaven                              |     5     |    1     | 11.37 |
|    1     |                                 Driving South                                  |     5     |    1     | 5.17  |
|    2     |                              Ten Storey Love Song                              |     5     |    1     | 4.50  |
|    3     |                                    Daybreak                                    |     5     |    1     | 6.56  |
|    4     |                              Your Star Will Shine                              |     5     |    1     | 2.99  |
|    5     |                              Straight To The Man                               |     5     |    1     | 3.26  |
|    6     |                                  Begging You                                   |     5     |    1     | 4.94  |
|    7     |                                   Tightrope                                    |     5     |    1     | 4.45  |
|    8     |                                   Good Times                                   |     5     |    1     | 5.67  |
|    9     |                                     Tears                                      |     5     |    1     | 6.84  |
|    10    |                                How Do You Sleep                                |     5     |    1     | 4.99  |
|    11    |                                  Love Spreads                                  |     5     |    1     | 5.79  |
|    12    |                                    Untitled                                    |     5     |    1     | 6.43  |
|    0     |                                Spinning Around                                 |     6     |    1     | 3.46  |
|    1     |                              On A Night Like This                              |     6     |    1     | 3.55  |
|    2     |                                 So Now Goodbye                                 |     6     |    1     | 3.62  |